<app-header></app-header> 
<!-- affichage condamnation -->
<div>
    <div class="panel panel-default">
    <div class="panel-heading">Condamnations
        <form class="navbar-form navbar-right" #f="ngForm" (ngSubmit)="onSearch(f.value)">
            <div class="form-group">
            <input type="text" class="form-control" placeholder="suivant ..." name="keyword" ngModel required>
            </div>
            <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span></button>
            <a routerLink="../new-condamnation">
                <button type="button" class="btn btn-default navbar-right" tooltip="Ajouter une nouvelle condamnation" >
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
            </a>
        </form>
    </div>
    
    <div class="panel-body">
        <table class="table table-striped custab" *ngIf="condamnations">
        <thead>
            <tr>
                <th>Affaire</th>
                <th>Date Signification Décision</th>
                <th>Nature Signification Décision</th>
                <th>Condamné</th>
                <th>Bénéficiaire/Représentant</th>
            </tr>
        </thead>
          <tr *ngFor="let c of condamnations._embedded.condamnations">
            <td *ngIf="c.affaire">{{c.affaire.numero}}</td> <td *ngIf="!c.affaire">  vide</td>
            <td *ngIf="c.dateSignificationDecision">{{c.dateSignificationDecision}}</td> <td *ngIf="!c.dateSignificationDecision">vide</td>
            <td *ngIf="c.natureSignificationDecision">{{c.natureSignificationDecision}}</td> <td *ngIf="!c.natureSignificationDecision">vide</td>
            <td *ngIf="c.condamne">{{c.condamne.nom}} {{c.condamne.prenoms}}</td> <td *ngIf="!c.condamne">vide</td>
            <td *ngIf="c.beneficiaire">{{c.beneficiaire.nom}} {{c.beneficiaire.prenoms}}</td> <td *ngIf="!c.beneficiaire">vide</td>
            <td class="text-center"><a class='btn btn-info btn-xs' (click)="onEdit(c)"><span class="glyphicon glyphicon-edit"></span></a><a (click)="onDelete(c)" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span></a></td>
          </tr>
        </table>
        <ul class="nav nav-pills"  *ngIf="pages">
            <li *ngFor="let p of pages; let i=index"> 
                <button class="btn btn-dark"><a (click)="onPageCondamnation(i)">{{i}}</a></button>
            </li>
        </ul>
      </div>
    </div>
</div> 
<!-- modification condamnation -->
<div class="container" *ngIf="update == 1">
        <div class="modal-header">
            <h4 class="modal-title pull-left"></h4>
        </div>
    
        <div class="modal-body">
          <form class="form-horizontal" #f="ngForm" (ngSubmit)="onUpdateCondamnation(f.value)">
            <fieldset>
                <!-- Form Name -->
                <legend>Modifier la condamnation</legend>
                <!-- affaire -->
                <div class="form-group">
                    <label class="col-md-4 control-label" >Affaire</label>  
                    <div class="col-md-4">
                    <select name="affaire" class="form-control"  ngModel> 
                        <option *ngFor="let a of affaires._embedded.affaires" [ngValue]="a" > {{a.numero}} </option>
                    </select>
                    <span class="help-block"> </span>  
                    </div>
                </div>
                <!-- condamné -->
                <div class="form-group">
                    <label class="col-md-4 control-label" >Condamné</label>  
                    <div class="col-md-4">
                            <select name ="condamne" [(ngModel)]="u" class="form-control" required >
                                    <ng-container *ngFor="let p of personnes._embedded.personnes">
                                        <ng-container *ngIf="p.fonction.libele === 'Justiciable'">
                                            <option [ngValue]="p" > 
                                                {{p.nom}} {{p.prenoms}}
                                            </option>
                                        </ng-container>
                                    </ng-container>
                                </select>
                    <span class="help-block"> </span>  
                    </div>
                </div>
                <!-- bébéficiaire -->
                <div class="form-group">
                    <label class="col-md-4 control-label" >Bénéficiaire/Représentant</label>  
                    <div class="col-md-4">
                            <select name ="beneficiaire" [(ngModel)]="p" class="form-control" >
                                    <ng-container *ngFor="let p of personnes._embedded.personnes">
                                        <ng-container *ngIf="p.fonction.libele === 'Justiciable'">
                                            <option [ngValue]="null">aucun</option>
                                            <option [ngValue]="p" > 
                                                {{p.nom}} {{p.prenoms}}
                                            </option>
                                        </ng-container>
                                    </ng-container>
                                </select>
                    <span class="help-block"> </span>  
                    </div>
                </div>
                <!-- date signification de la décision -->
                <div class="form-group">
                        <label class="col-md-4 control-label" >Date de signification de la décision</label>  
                        <div class="col-md-4">
                        <input name="dateSignificationDecision" type="date" class="form-control input-md" required ngModel [(ngModel)]="condamnation.dateSignificationDecision">
                        <span class="help-block"> </span>  
                        </div>
                    </div>
                <!-- nature signification de la décision -->
                <div class="form-group">
                    <label class="col-md-4 control-label" >Nature de la signification de la décision</label>  
                    <div class="col-md-4">
                    <input name="natureSignificationDecision" type="text" class="form-control input-md" required ngModel [(ngModel)]="condamnation.natureSignificationDecision">
                    <span class="help-block"> </span>  
                    </div>
                </div>
                
                <!-- Button -->
                <div class="form-group">
                    <label class="col-md-4 control-label" > </label>
                    <div class="col-md-8">
                    <button class="btn btn-success" type="submit" [disabled]="f.invalid">Modifier</button>
                    </div>
                </div>
            </fieldset>
            </form>
        </div>
    </div>  