<app-header></app-header>
<div class="container">
    <div class="panel panel-default">
    <div class="panel-heading">Qualités
      <form class="navbar-form navbar-right" #f="ngForm" (ngSubmit)="onSearch(f.value)">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="suivant libelé" name="keyword" ngModel required>
        </div>
        <button type="submit" class="btn btn-primary" ><span class="glyphicon glyphicon-search"></span></button>
        <button type="button" class="btn btn-default navbar-right" tooltip="Ajouter un nouvel qualité" (click)="openModal(template)">
          <span class="glyphicon glyphicon-plus"></span>
        </button>
      </form>
    </div>
    
    <div class="panel-body">
        <table class="table table-striped custab" *ngIf="qualites">
        <thead>
            <tr>
                <th>Libelé</th>
                <th>Groupe</th>
            </tr>
        </thead>
          <tr *ngFor="let q of qualites._embedded.qualites">
            <td>{{q.libele}}</td>
            <td>{{q.groupe}}</td>
            <td class="text-center"><a class='btn btn-info btn-xs' (click)="onEdit(q)"><span class="glyphicon glyphicon-edit"></span></a><a (click)="onDelete(q)" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span></a></td>
          </tr>
        </table>
        <ul class="nav nav-pills"  *ngIf="pages">
          <li *ngFor="let p of pages; let i=index"> 
            <button class="btn btn-dark"><a (click)="onPageQualite(i)">{{i}}</a></button>
          </li>
        </ul>
      </div>
    </div>
</div>


<div class="container" *ngIf="update == 1">
    <div class="modal-header">
        <h4 class="modal-title pull-left"></h4>
    </div>

    <div class="modal-body">
      <form class="form-horizontal" #f="ngForm" (ngSubmit)="onUpdateQualite(f.value)">
        <fieldset>
        <!-- Form Name -->
        <legend>Modifier la qualité</legend>
        <!--Libelé-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">Libelé</label>  
            <div class="col-md-4">
            <input name="libele" type="text" class="form-control input-md" required="" ngModel [(ngModel)]="qualite.libele">
            <span class="help-block"> </span>  
            </div>
        </div>
        <!--Groupe-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="textinput">Groupe</label>  
          <div class="col-md-4">
          <input name="groupe" type="text" class="form-control input-md" required="" ngModel [(ngModel)]="qualite.groupe">
          <span class="help-block"> </span>  
          </div>
        </div>
        <!-- Button -->
        <div class="form-group">
          <label class="col-md-4 control-label" > </label>
          <div class="col-md-8">
            <button id="button1id" name="button1id" class="btn btn-success" type="submit"><span class="glyphicon glyphicon-ok-circle"></span></button>
          </div>
        </div>
        </fieldset>
        </form>
    </div>
</div>  


  <ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left"></h4>
        <button type="button" class="close pull-right" 
                aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    
    <div class="modal-body">
      <form class="form-horizontal" #f="ngForm" (ngSubmit)="onSaveQualite(f.value)">
        <fieldset>
        <!-- Form Name -->
        <legend>Nouvelle Qualité</legend>
        <!--Code-->
        <input *ngIf="vue" name="code" type="text" class="form-control input-md" >
        <!-- Libelé input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="textinput">Libelé</label>  
          <div class="col-md-4">
          <input name="libele" type="text" class="form-control input-md" required ngModel>
          <span class="help-block"> </span>  
          </div>
        </div>
        <!--Groupe-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="textinput">Groupe</label>  
          <div class="col-md-4">
          <input name="groupe" type="text" class="form-control input-md" required ngModel>
          <span class="help-block"> </span>  
          </div>
        </div>
        <!-- Button -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="button1id"> </label>
            <div class="col-md-8">
              <button name="button1id" class="btn btn-success" type="submit" [disabled]="f.invalid"><span class="glyphicon glyphicon-ok-circle"></span></button>
            </div>
        </div>
        </fieldset>
        </form>
    </div>
  </ng-template>