<nav class="navbar navbar-default navbar-">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" >
        <ul class="nav navbar-nav">
          <li style="margin-right: 100px"><a class="nav-link" routerLink="../accueil"><span class="glyphicon glyphicon-home"></span> Sentence </a></li> 
          &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
          <li class="dropdown" dropdown>
              <a dropdownToggle class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Données<span class="caret"></span></a>
              <ul class="dropdown-menu" *dropdownMenu  >
                <!-- <li><a routerLink="../civilites" *ngIf="groupe.lectureDonnees && groupe.ecritureDonnees">Civilités</a></li> --> 
                <!-- <li><a routerLink="../fonctions" *ngIf="groupe.lectureDonnees && groupe.ecritureDonnees">Fonctions</a></li> -->
                <!-- <li><a routerLink="../situationsMatrimoniales" *ngIf="groupe.lectureDonnees && groupe.ecritureDonnees">Situations Matrimoniales</a></li> -->
                <!-- <li><a routerLink="../typeDecisions" *ngIf="groupe.lectureDonnees && groupe.ecritureDonnees">Type de Décisions</a></li> -->
                <!--  <li><a routerLink="../qualites" *ngIf="groupe.lectureDonnees && groupe.ecritureDonnees">Qualités</a></li> -->
                <li><a routerLink="../infractions" *ngIf="groupe.lectureDonnees && groupe.ecritureDonnees">Infractions</a></li>
                <!-- <li><a routerLink="../pays" *ngIf="groupe.lectureDonnees && groupe.ecritureDonnees">Pays</a></li> -->
                <!-- <li><a routerLink="../typePeines" *ngIf="groupe.lectureDonnees && groupe.ecritureDonnees">Type de Peines</a></li> -->
                <!-- <li><a routerLink="../juridictions" *ngIf="groupe.lectureDonnees && groupe.ecritureDonnees">Juridictions</a></li>                 -->
                <li><a routerLink="../maisonArrets" *ngIf="groupe.lectureDonnees && groupe.ecritureDonnees">Maison d'Arrêt</a></li>
                <hr> 
                <!-- <li><a routerLink="../uniteAds" *ngIf="groupe.lectureCondamnation && groupe.ecritureCondamnation">UnitésAdministratives</a></li>  -->
                <li><a routerLink="../adresses" *ngIf=" groupe.libele === 'administrateur'">Adresses</a></li>
                <li><a routerLink="../personnes" *ngIf="groupe.lectureCondamnation && groupe.ecritureCondamnation">Personnes</a></li>
                <li><a routerLink="../chefPoursuites" *ngIf="groupe.lectureCondamnation && groupe.ecritureCondamnation">ChefDePoursuites</a></li>
                <li><a routerLink="../affaires" *ngIf="groupe.lectureCondamnation && groupe.ecritureCondamnation">Affaires</a></li>
              </ul>
          </li>
          <li><a class="nav-link" routerLink="../decisions" *ngIf="groupe.lectureCondamnation && groupe.ecritureCondamnation" >Décisions</a></li>
          <li><a class="nav-link" routerLink="../condamnations" *ngIf="groupe.lectureCondamnation && groupe.ecritureCondamnation">Condamnations</a></li>
          <li><a class="nav-link" routerLink="../peines" *ngIf="groupe.lectureCondamnation && groupe.ecritureCondamnation" >Peines</a></li>
          <li><a class="nav-link" routerLink="../executions" *ngIf="groupe.lectureCondamnation && groupe.ecritureCondamnation" >Exécutions</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li><a routerLink="../utilisateurs" *ngIf="groupe.manipulationUtilisateurs">Utilisateurs |</a></li>
          <li><a routerLink="../utilisateur"><span class="glyphicon glyphicon-user"></span></a></li>
          <li><a ><span class="glyphicon glyphicon-log-out" (click)="logout()"></span></a></li>
        </ul>
      </div>
    </div>
</nav>
  
