<app-header></app-header>
<div class="container">
    <div class="panel panel-default">
    <div class="panel-heading">Unités Administratives
      <form class="navbar-form navbar-right" #f="ngForm" (ngSubmit)="onSearch(f.value)">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="suivant dénomination" name="keyword" ngModel required>
        </div>
        <button type="submit" class="btn btn-primary" ><span class="glyphicon glyphicon-search"></span></button>
        <button type="button" class="btn btn-default navbar-right" tooltip="Ajouter une nouvelle unité administrative" (click)="openModal(template)">
          <span class="glyphicon glyphicon-plus"></span>
        </button>
      </form>
    </div>
    
    <div class="panel-body">
        <table class="table table-striped custab" *ngIf="uniteAdministratives">
        <thead>
            <tr>
                <th>Dénomination</th>
                <th>Nombre d'habitants</th>
                <th>Unité administrative mère</th>
                <th>Pays</th>
            </tr>
        </thead>
          <tr *ngFor="let u of uniteAdministratives._embedded.uniteAdministratives">
            <td>{{u.denomination}}</td>
            <td>{{u.nombreHabitants}}</td>
            <td *ngIf="u.uaMere != null">{{ u.uaMere.denomination}}</td>
            <td *ngIf="u.uaMere == null"> </td>
            <td>{{u.pays.nom}}</td>
            
            <td class="text-center"><a class='btn btn-info btn-xs' (click)="onEdit(u)"><span class="glyphicon glyphicon-edit"></span></a><a (click)="onDelete(u)" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span></a></td>
          </tr>
        </table>
        <ul class="nav nav-pills"  *ngIf="pages">
            <li *ngFor="let p of pages; let i=index"> 
                <button class="btn btn-dark"><a (click)="onPageUniteAd(i)">{{i}}</a></button>
            </li>
        </ul>
      </div>
    </div>
</div>


<div class="container" *ngIf="update == 1">
    <div class="modal-header">
        <h4 class="modal-title pull-left"></h4>
    </div>

    <div class="modal-body">
      <form class="form-horizontal" #f="ngForm" (ngSubmit)="onUpdateUniteAd(f.value)">
        <fieldset>
            <!-- Form Name -->
            <legend>Modifier l'unité administrative</legend>
            <!--Dénomination-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="textinput">Dénomination</label>  
                <div class="col-md-4">
                <input name="denomination" type="text" class="form-control input-md" required ngModel [(ngModel)]="uniteAdministrative.denomination">
                <span class="help-block"> </span>
                </div>
            </div>
            <!--Nombre d'habitants-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="textinput">Nombre d'habitants</label>  
                <div class="col-md-4">
                <input name="nombreHabitants" type="number" class="form-control input-md" required ngModel [(ngModel)]="uniteAdministrative.nombreHabitants">
                <span class="help-block"> </span>
                </div>
            </div>
            <!--Unité administrative mère-->
            <div class="form-group">
                <label class="col-md-4 control-label">Unité administrative mère</label>  
                <div class="col-md-4">
                  <select class="form-control" name="uaMere" [(ngModel)]='uniteAdministrative.uaMere'>
                      <option *ngFor="let u of uniteAdministratives._embedded.uniteAdministratives" [ngValue]="u">
                          {{u.denomination}}
                      </option>
                  </select>                
                </div>
                <span class="help-block"> </span>  
            </div>
            <!--Pays-->
            <div class="form-group">
              <label class="col-md-4 control-label">Pays</label>  
              <div class="col-md-4">
                  <select class="form-control" name="pays" [(ngModel)]='uniteAdministrative.pays'>
                      <option *ngFor="let p of payses._embedded.payses" [ngValue]="p">
                          {{p.nom}}
                      </option>
                  </select>                
              </div>
              <span class="help-block"> </span>  
            </div>
            <!-- Button -->
            <div class="form-group">
                <label class="col-md-4 control-label" > </label>
                <div class="col-md-8">
                <button name="button1id" class="btn btn-success" type="submit" [disabled]="f.invalid"><span class="glyphicon glyphicon-edit"></span></button>
                </div>
            </div>
        </fieldset>
        </form>
    </div>
</div>  


  <ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left"></h4>
        <button type="button" class="close pull-right" 
                aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    
    <div class="modal-body">
      <form class="form-horizontal" #f="ngForm" (ngSubmit)="onSaveUniteAd(f.value)">
        <fieldset>
        <!-- Form Name -->
        <legend>Nouvelle Unité Administrative</legend>
        <!--Code-->
        <input *ngIf="vue" name="code" type="text" class="form-control input-md" >
        <!--Dénomination-->
        <div class="form-group">
            <label class="col-md-4 control-label">Dénomination</label>  
            <div class="col-md-4">
            <input name="denomination" type="text" class="form-control input-md" required ngModel>
            <span class="help-block"> </span>
            </div>
        </div>
        <!--Nombre d'habitants-->
        <div class="form-group">
            <label class="col-md-4 control-label">Nombre d'habitants</label>  
            <div class="col-md-4">
            <input name="nombreHabitants" type="number" min="1" class="form-control input-md" required ngModel>
            <span class="help-block"> </span>
            </div>
        </div>
        <!--Unité administrative mère-->
        <div class="form-group" *ngIf="uniteAdministratives">
            <label class="col-md-4 control-label">Unité administrative mère</label>  
            <div class="col-md-4">
              <select name="uaMere" [(ngModel)]='uaSelected' class="form-control">
                <option *ngFor="let u of uniteAdministratives._embedded.uniteAdministratives" [ngValue]="u">
                    {{u.denomination}}
                </option>
            </select>               
            </div>
            <span class="help-block"> </span>  
        </div>
        <!--Pays-->
        <div class="form-group">
          <label class="col-md-4 control-label">Pays</label>  
          <div class="col-md-4">
            <select name="pays" [(ngModel)]='paysSelected' class="form-control">
              <option *ngFor="let p of payses._embedded.payses" [ngValue]="p" > 
                {{p.nom}}
              </option>
            </select>   
          </div>
          <span class="help-block"> </span>  
        </div>
        <!-- Button -->
        <div class="form-group">
            <label class="col-md-4 control-label" > </label>
            <div class="col-md-8">
              <button name="button1id" class="btn btn-success" type="submit" [disabled]="f.invalid"><span class="glyphicon glyphicon-edit"></span></button>
            </div>
        </div>
        </fieldset>
        </form>
    </div>
  </ng-template>