  <!-- Utilisateurs -->
  <div class="container " >
      <div class="panel panel-default">
      <div class="panel-heading">Utilisateurs
        <form class="navbar-form navbar-right" #f="ngForm" (ngSubmit)="u_onSearch(f.value)">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="suivant le nom" name="keyword" ngModel required>
          </div>
          <button type="submit" class="btn btn-primary" ><span class="glyphicon glyphicon-search"></span></button>
          <button type="button" class="btn btn-default navbar-right" tooltip="Ajouter un nouvel utilisateur" (click)="u_openModal(u_template)">
            <span class="glyphicon glyphicon-plus"></span>
          </button>
        </form>
      </div>
      
      <div class="panel-body">
          <table class="table table-striped custab" *ngIf="utilisateurs">
          <thead>
              <tr>
                <th>Nom</th>
                <th>Pénoms</th>
                <th>Mail</th>
                <th>Téléphone</th>
                <th>Login</th>
                <th>Groupe</th>
              </tr>
          </thead>
            <tr *ngFor="let u of utilisateurs._embedded.utilisateurs">
              <td>{{u.nom}}</td>
              <td>{{u.prenoms}}</td>
              <td>{{u.mail}}</td>
              <td>{{u.telephone}}</td>
              <td>{{u.login}}</td>
              <td>{{u.groupe.libele}}</td>
              <td class="text-center"><a class='btn btn-info btn-xs' (click)="u_onEdit(u)"><span class="glyphicon glyphicon-edit"></span></a><a (click)="u_onDelete(u)" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span></a></td>
            </tr>
          </table>
          <ul class="nav nav-pills"  *ngIf="u_pages">
            <li *ngFor="let p of u_pages; let i=index"> 
              <button class="btn btn-dark"><a (click)="u_onPageUtilisateur(i)">{{i}}</a></button>
            </li>
          </ul>
        </div>
      </div>
  </div>
  <!-- Groupes -->
  <div>
    <div class="panel panel-default">
    <div class="panel-heading">Groupes
      <form class="navbar-form navbar-right" #f="ngForm" (ngSubmit)="g_onSearch(f.value)">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="suivant le libelé" name="keyword" ngModel required>
        </div>
        <button type="submit" class="btn btn-primary" ><span class="glyphicon glyphicon-search"></span></button>
        <button type="button" class="btn btn-default navbar-right" tooltip="Ajouter un nouveau groupe" (click)="g_openModal(g_template)">
          <span class="glyphicon glyphicon-plus"></span>
        </button>
      </form>
    </div>
    
    <div class="panel-body">
        <table class="table table-striped custab" *ngIf="groupes">
        <thead>
            <tr>
                <th>Libelé</th>
                <th>Lecture Condamnations</th>
                <th>Ecriture condamantions</th>
                <th>Lecture Données</th>
                <th>Ecriture Données</th>
                <th>Manipulation Utilisateur</th>
                <th>Lecture Statistiques</th>
                <th>Manipulation Statistiques</th>
            </tr>
        </thead>
          <tr *ngFor="let g of groupes._embedded.groupes">
            <td>{{g.libele}}</td>
            <td>
              <div *ngIf="g.lectureCondamnation"> oui </div>
              <div *ngIf="!g.lectureCondamnation"> non </div>
            </td>
            <td>
              <div *ngIf="g.ecritureCondamnation"> oui </div>
              <div *ngIf="!g.ecritureCondamnation"> non </div>
            </td>
            <td>
              <div *ngIf="g.lectureDonnees"> oui </div>
              <div *ngIf="!g.lectureDonnees"> non </div>
            </td>
            <td>
              <div *ngIf="g.ecritureDonnees"> oui </div>
              <div *ngIf="!g.ecritureDonnees"> non </div>
            </td>
            <td>
              <div *ngIf="g.manipulationUtilisateurs"> oui </div>
              <div *ngIf="!g.manipulationUtilisateurs"> non </div>
            </td>
            <td>
              <div *ngIf="g.lectureStatistiques"> oui </div>
              <div *ngIf="!g.lectureStatistiques"> non </div>
            </td>
            <td>
              <div *ngIf="g.manipulationStatistiques"> oui </div>
              <div *ngIf="!g.manipulationStatistiques"> non </div>
            </td>
            <td class="text-center"><a class='btn btn-info btn-xs' (click)="g_onEdit(g)"><span class="glyphicon glyphicon-edit"></span></a><a (click)="g_onDelete(g)" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span></a></td>
          </tr>
        </table>
        <ul class="nav nav-pills"  *ngIf="g_pages">
          <li *ngFor="let p of g_pages; let i=index"> 
            <button class="btn btn-dark"><a (click)="g_onPageGroupe(i)">{{i}}</a></button>
          </li>
        </ul>
      </div>
    </div>
</div>

<!-- modification utilisateurs-->
<div class="row">
  <div class="panel panel-primary" *ngIf="u_update == 1">
      <div class="modal-header">
          <h4 class="modal-title pull-left"></h4>
      </div>

      <div class="modal-body">
        <form class="form-horizontal" #f="ngForm" (ngSubmit)="u_onUpdateUtilisateur(f.value)">
          <fieldset>
          <!-- Form Name -->
          <legend>Modifier l'utilisateur</legend>
          <!--Nom-->
          <div class="form-group">
              <label class="col-md-4 control-label" for="textinput">Nom</label>  
              <div class="col-md-4">
              <input name="nom" type="text" class="form-control input-md" required [(ngModel)]="utilisateur.nom">
              <span class="help-block"> </span>  
              </div>
            </div>
            <!--Prénoms-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="textinput">Prénoms</label>  
              <div class="col-md-4">
              <input name="prenoms" type="text" class="form-control input-md" required [(ngModel)]="utilisateur.prenoms">
              <span class="help-block"> </span>  
              </div>
            </div>
            <!--Mail-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="textinput">Mail</label>  
              <div class="col-md-4">
              <input name="mail" type="email" class="form-control input-md" required [(ngModel)]="utilisateur.mail">
              <span class="help-block"> </span>  
              </div>
            </div>
            <!--Téléphone-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="textinput">Téléphone</label>  
              <div class="col-md-4">
              <input name="telephone" type="text" class="form-control input-md" required [(ngModel)]="utilisateur.telephone">
              <span class="help-block"> </span>  
              </div>
            </div>
            <!--Login-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="textinput">Login</label>  
              <div class="col-md-4">
              <input name="login" type="text" class="form-control input-md" required>
              <span class="help-block"> </span>  
              </div>
            </div>
            <!--Passe-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="textinput">Passe</label>  
              <div class="col-md-4">
              <input name="passe" type="password" class="form-control input-md" required>
              <span class="help-block"> </span>  
              </div>
            </div>
            <!--Confirme Passe-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="textinput">Confimer Passe</label>  
              <div class="col-md-4">
              <input name="passeConf" type="password" class="form-control input-md" required>
              <span class="help-block"> </span>  
              </div>
            </div>
            <!--Groupe-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="textinput">Groupe</label>  
              <div class="col-md-4">
              <select name="groupe" [(ngModel)]='groupeSelected' class="form-control">
                <option *ngFor="let g of groupes._embedded.groupes" [ngValue]="g">
                  {{g.libele}}
                </option>
              </select>
              <span class="help-block"> </span>  
              </div>
            </div>
            <!-- Button -->
            <div>
            <button  class="btn btn-success" type="submit"><span class="glyphicon glyphicon-ok-circle"></span></button>
            </div>
          </fieldset>
          </form>
          </div>
      </div>
  </div>  
  <!-- modification groupes -->
  <div class="panel panel-primary" *ngIf="g_update == 1">
      <div class="modal-header">
          <h4 class="modal-title pull-left"></h4>
      </div>
  
      <div class="modal-body">
        <form class="form-horizontal" #f="ngForm" (ngSubmit)="g_onUpdateGroupe(f.value)">
          <fieldset>
            <legend>Modifier le groupe</legend>
            <!-- Libele -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="textinput">Libelé</label>  
                <div class="col-md-4">
                <input name="libele" type="text" class="form-control input-md" required [(ngModel)]="groupe.libele">
                <span class="help-block"> </span>  
                </div>
              </div>
              <!-- lecture condamnation -->
              <div class="form-group">
                <label class="col-md-4 control-label" for="textinput">Lecture condamnation</label>  

                <div class="col-md-4 col-lg-offset-1">
                  <label class="radio">
                      <input type="radio" name="lectureCondamnation" value="true" ngModel>
                      <span>oui</span>
                  </label>
                  <label class="radio">
                      <input type="radio" name="lectureCondamnation" value="false" ngModel> 
                      <span>non</span>
                  </label>
                </div>
              </div> 
              <!-- ecriture condamnation -->
              <div class="form-group">
                <label class="col-md-4 control-label">Ecriture des condamantions</label>  
                <div class="col-md-4 col-lg-offset-1">
                    <label class="radio">
                        <input type="radio" name="ecritureCondamnation" value=true ngModel>
                        <span>oui</span>
                    </label>
                    <label class="radio">
                        <input type="radio" name="ecritureCondamnation" value=false ngModel>
                        <span>non</span>
                    </label>
                  </div>
              </div>
              <!-- lecture données -->
              <div class="form-group">
                <label class="col-md-4 control-label">Lecture des données</label>  
                <div class="col-md-4 col-lg-offset-1">
                    <label class="radio">
                        <input type="radio" name="lectureDonnees" value=true ngModel>
                        <span>oui</span>
                    </label>
                    <label class="radio">
                        <input type="radio" name="lectureDonnees" value=false ngModel>
                        <span>non</span>
                    </label>
                  </div>
              </div>
              <!-- ecriture données -->
              <div class="form-group">
                <label class="col-md-4 control-label">Ecriture des données</label>  
                <div class="col-md-4 col-lg-offset-1">
                    <label class="radio">
                        <input type="radio" name="ecritureDonnees" value=true ngModel>
                        <span>oui</span>
                    </label>
                    <label class="radio">
                        <input type="radio" name="ecritureDonnees" value=false ngModel>
                        <span>non</span>
                    </label>
                  </div>
              </div>
              <!-- mmanipulation des utlisateurs -->
              <div class="form-group">
                <label class="col-md-4 control-label">Manipulation des utilisateurs</label>  
                <div class="col-md-4 col-lg-offset-1">
                    <label class="radio">
                        <input type="radio" name="manipulationUtilisateurs" value=true ngModel>
                        <span>oui</span>
                    </label>
                    <label class="radio">
                        <input type="radio" name="manipulationUtilisateurs" value=false ngModel>
                        <span>non</span>
                    </label>
                  </div>
              </div>
              <!-- lecture statistiques -->
              <div class="form-group">
                <label class="col-md-4 control-label">Lecture des statistiques</label>  
                <div class="col-md-4 col-lg-offset-1">
                    <label class="radio">
                        <input type="radio" name="lectureStatistiques" value=true ngModel>
                        <span>oui</span>
                    </label>
                    <label class="radio">
                        <input type="radio" name="lectureStatistiques" value=false ngModel>
                        <span>non</span>
                    </label>
                  </div>
              </div>
              <!-- manipulation statistiques -->
              <div class="form-group">
                <label class="col-md-4 control-label">Manipulation des statistiques</label>  
                <div class="col-md-4 col-lg-offset-1">
                    <label class="radio">
                        <input type="radio" name="manipulationStatistiques" value=true ngModel>
                        <span>oui</span>
                    </label>
                    <label class="radio">
                        <input type="radio" name="manipulationStatistiques" value=false ngModel> 
                        <span>non</span>
                    </label>
                  </div>
              </div>
              <!-- Button -->
              <div>
              <button name="button1id" class="btn btn-success" type="submit"><span class="glyphicon glyphicon-ok-circle"></span></button>
              </div>
            </fieldset>
            </form>
          </div>
</div>



    <!-- ajout utilisateur -->
    <ng-template #u_template>
      <div class="modal-body">
        <form class="form-horizontal" #f="ngForm" (ngSubmit)="u_onSaveUtilisateur(f.value)">
          <fieldset>
          <!-- Form Name -->
          <legend>Nouvel Utilisateur</legend>
          <!--Code-->
          <input *ngIf="vue" name="code" type="text" class="form-control input-md" >
          <!--Nom-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">Nom</label>  
            <div class="col-md-4">
            <input name="nom" type="text" class="form-control input-md" required ngModel>
            <span class="help-block"> </span>  
            </div>
          </div>
          <!--Prénoms-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">Prénoms</label>  
            <div class="col-md-4">
            <input name="prenoms" type="text" class="form-control input-md" required ngModel>
            <span class="help-block"> </span>  
            </div>
          </div>
          <!--Mail-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">Mail</label>  
            <div class="col-md-4">
            <input name="mail" type="email" class="form-control input-md" required ngModel>
            <span class="help-block"> </span>  
            </div>
          </div>
          <!--Téléphone-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">Téléphone</label>  
            <div class="col-md-4">
            <input name="telephone" type="text" class="form-control input-md" required ngModel>
            <span class="help-block"> </span>  
            </div>
          </div>
          <!--Login-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">Login</label>  
            <div class="col-md-4">
            <input name="login" type="text" class="form-control input-md" required ngModel>
            <span class="help-block"> </span>  
            </div>
          </div>
          <!--Passe-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">Passe</label>  
            <div class="col-md-4">
            <input name="passe" type="password" class="form-control input-md" required ngModel>
            <span class="help-block"> </span>  
            </div>
          </div>
          <!--Confirme Passe-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">Confimer Passe</label>  
            <div class="col-md-4">
            <input name="passeConf" type="password" class="form-control input-md" required ngModel>
            <span class="help-block"> </span>  
            </div>
          </div>
          <!--Groupe-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">Groupe</label>  
            <div class="col-md-4">
            <select name="groupe" [(ngModel)]='groupeSelected' class="form-control">
              <option *ngFor="let g of groupes._embedded.groupes" [ngValue]="g">
                {{g.libele}}
              </option>
            </select>
            <span class="help-block"> </span>  
            </div>
          </div>
          <!-- Button -->
          <div class="form-group">
            <label class="col-md-4 control-label" for="button1id"> </label>
            <div class="col-md-8">
              <button name="button1id" class="btn btn-success" type="submit" [disabled]="f.invalid"><span class="glyphicon glyphicon-ok-circle"></span></button>
            </div>
          </div>
          </fieldset>
          </form>
      </div>
    </ng-template>


    <!-- ajout groupe --> 
    <ng-template #g_template>
        <div class="modal-body">
          <form class="form-horizontal" #f="ngForm" (ngSubmit)="g_onSaveGroupe(f.value)">
            <fieldset>
            <!-- Form Name -->
            <legend>Nouveau Groupe</legend>
            <!--Code-->
            <input *ngIf="vue" name="code" type="text">
            <!-- Libele -->
            <div class="form-group">
              <label class="col-md-4 control-label" for="textinput">Libelé</label>  
              <div class="col-md-4">
              <input name="libele" type="text" class="form-control input-md" required ngModel>
              <span class="help-block"> </span>  
              </div>
            </div>
            <!-- lecture condamnation -->
            <div class="form-group">
              <label class="col-md-4 control-label" for="textinput">Lecture condamnation</label>  

              <div class="col-md-4 col-lg-offset-1">
                <label class="radio">
                    <input type="radio" name="lectureCondamnation" value="true" ngModel>
                    <span>oui</span>
                </label>
                <label class="radio">
                    <input type="radio" name="lectureCondamnation" value="false" ngModel> 
                    <span>non</span>
                </label>
              </div>
            </div> 
            <!-- ecriture condamnation -->
            <div class="form-group">
              <label class="col-md-4 control-label">Ecriture des condamantions</label>  
              <div class="col-md-4 col-lg-offset-1">
                  <label class="radio">
                      <input type="radio" name="ecritureCondamnation" value=true ngModel>
                      <span>oui</span>
                  </label>
                  <label class="radio">
                      <input type="radio" name="ecritureCondamnation" value=false ngModel>
                      <span>non</span>
                  </label>
                </div>
            </div>
            <!-- lecture données -->
            <div class="form-group">
              <label class="col-md-4 control-label">Lecture des données</label>  
              <div class="col-md-4 col-lg-offset-1">
                  <label class="radio">
                      <input type="radio" name="lectureDonnees" value=true ngModel>
                      <span>oui</span>
                  </label>
                  <label class="radio">
                      <input type="radio" name="lectureDonnees" value=false ngModel>
                      <span>non</span>
                  </label>
                </div>
            </div>
            <!-- ecriture données -->
            <div class="form-group">
              <label class="col-md-4 control-label">Ecriture des données</label>  
              <div class="col-md-4 col-lg-offset-1">
                  <label class="radio">
                      <input type="radio" name="ecritureDonnees" value=true ngModel>
                      <span>oui</span>
                  </label>
                  <label class="radio">
                      <input type="radio" name="ecritureDonnees" value=false ngModel>
                      <span>non</span>
                  </label>
                </div>
            </div>
            <!-- mmanipulation des utlisateurs -->
            <div class="form-group">
              <label class="col-md-4 control-label">Manipulation des utilisateurs</label>  
              <div class="col-md-4 col-lg-offset-1">
                  <label class="radio">
                      <input type="radio" name="manipulationUtilisateurs" value=true ngModel>
                      <span>oui</span>
                  </label>
                  <label class="radio">
                      <input type="radio" name="manipulationUtilisateurs" value=false ngModel>
                      <span>non</span>
                  </label>
                </div>
            </div>
            <!-- lecture statistiques -->
            <div class="form-group">
              <label class="col-md-4 control-label">Lecture des statistiques</label>  
              <div class="col-md-4 col-lg-offset-1">
                  <label class="radio">
                      <input type="radio" name="lectureStatistiques" value=true ngModel>
                      <span>oui</span>
                  </label>
                  <label class="radio">
                      <input type="radio" name="lectureStatistiques" value=false ngModel>
                      <span>non</span>
                  </label>
                </div>
            </div>
            <!-- manipulation statistiques -->
            <div class="form-group">
              <label class="col-md-4 control-label">Manipulation des statistiques</label>  
              <div class="col-md-4 col-lg-offset-1">
                  <label class="radio">
                      <input type="radio" name="manipulationStatistiques" value=true ngModel>
                      <span>oui</span>
                  </label>
                  <label class="radio">
                      <input type="radio" name="manipulationStatistiques" value=false ngModel> 
                      <span>non</span>
                  </label>
                </div>
            </div>
            <!-- Button -->
            <div class="form-group">
              <label class="col-md-4 control-label"> </label>
              <div class="col-md-8">
                <button class="btn btn-success" type="submit" [disabled]="f.invalid"><span class="glyphicon glyphicon-ok-circle"></span></button>
              </div>
            </div>
            </fieldset>
          </form>
        </div>
      </ng-template>

      <div class="form-group">
        <label class="col-md-4 control-label"> </label>
        <div class="col-md-8">
                <a routerLink="../accueil"><button class="btn btn-default pull-right"><span class="glyphicon glyphicon-arrow-left"></span></button></a>
        </div>
      </div>


