<!-- formulaire nouvelle personne -->
<div class="container" > 
    <div class="modal-body">
            <form class="form-horizontal" [formGroup]="PersonneForm" (ngSubmit)="onSubmit()">
                <legend>Ajouter une personne</legend>
                <div class="form-group">
                    <label class="col-md-4 control-label" >Nom</label>  
                    <div class="col-md-4">
                    <input type="text" class="form-control"  formControlName = "nom" required>
                    <span class="help-block"> </span>  
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-md-4 control-label" >Prenoms</label>  
                    <div class="col-md-4    ">
                    <input type="text" class="form-control" formControlName = "prenoms" required>
                    <span class="help-block"> </span>  
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-md-4 control-label" >Sexe</label>  
                    <div class="radio col-md-4 " >
                    <label *ngFor="let sexe of sexes"> <input type="radio" [value]="sexe" formControlName = "sexe" required>{{sexe}}
                    &nbsp; &nbsp; &nbsp; </label>
                    </div>
                    <span class="help-block"> </span>  
                </div>
                
                <div class="form-group">
                    <label class="col-md-4 control-label" >Date de Naissance</label>  
                    <div class="col-md-4">
                    <input type="date" class="form-control" formControlName = "dateNaissance" required>
                    <span class="help-block"> </span>  
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-md-4 control-label" >Lieu de Naissance</label>  
                    <div class="col-md-1">
                        <button type="button" class="btn btn-default " tooltip="Ajouter le lieu de naissance" (click)="openLieuNaissanceModal(lieuNaissance)">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    <span class="help-block"> </span>  
                    </div>
                    <div class="col-md-3" *ngIf="PersonneForm.value.lieuNaissance != null">
                        <b>Maison</b> : {{PersonneForm.value.lieuNaissance.maison}}<br>
                        <b>Téléphone</b> : {{PersonneForm.value.lieuNaissance.telephone}}<br>
                        <b>Code Postal</b> : {{PersonneForm.value.lieuNaissance.codePostal}}<br>
                        <b>Rue</b> : {{PersonneForm.value.lieuNaissance.rue}}<br>
                        <b>Unité Administrative</b> : {{PersonneForm.value.lieuNaissance.uniteAdministrative.denomination}}<br>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-md-4 control-label" >Profession</label>  
                    <div class="col-md-4">
                    <input type="text" class="form-control" formControlName = "profession" required>
                    <span class="help-block"> </span>  
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-md-4 control-label" >Nom du Père</label>  
                    <div class="col-md-4">
                    <input type="text" class="form-control" formControlName = "nomPere" required>
                    <span class="help-block"> </span>  
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label" >Nom du Mère</label>  
                    <div class="col-md-4">
                    <input type="text" class="form-control" formControlName = "nomMere" required>
                    <span class="help-block"> </span>  
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-md-4 control-label" >Nom du Marital</label>  
                    <div class="col-md-4">
                    <input type="text" class="form-control" formControlName = "nomMarital" >
                    <span class="help-block"> </span>  
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-md-4 control-label" >Alias</label>  
                    <div class="col-md-4">
                    <input type="text" class="form-control" formControlName = "alias" >
                    <span class="help-block"> </span>  
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-md-4 control-label" >Entité morale associée</label>  
                    <div class="col-md-4">
                    <input type="text" class="form-control" formControlName = "entiteMorale" >
                    <span class="help-block"> </span>  
                    </div>
                </div>
        
                <div class="form-group">
                    <label class="col-md-4 control-label" >Civilité</label>  
                    <div class="col-md-4">
                    <select  formControlName ="civilite" class="form-control"  required>
                        <option [value]="mr" > Monsieur </option>
                        <option [value]="mme" > Madame </option>
                        <option [value]="mlle" > Mademoiselle </option>
                    </select>
                    <span class="help-block"> </span>  
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-md-4 control-label" >Fonction</label>  
                    <div class="col-md-4">
                    <select  formControlName ="fonction" class="form-control"  required>
                        <option [value]="justiciable" > Justiciable </option>
                        <option [value]="juge" > Juge </option>
                        <option [value]="procureur" > Procureur </option>
                    </select>
                    <span class="help-block"> </span>  
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-md-4 control-label" >Situation Matrimoniale</label>   
                    <div class="col-md-4">
                    <select  formControlName = "situationMatrimoniale" class="form-control" required>
                        <option [value]="celibsans" > Célibataire sans enfant(s) </option>
                        <option [value]="celibavec" > Célibataire avec enfant(s) </option>
                        <option [value]="mariesans" > Marié sans enfant(s) </option>                
                        <option [value]="marieavec" > Marié avec enfant </option>                
                        <option [value]="divorcesans" > Divorcé sans enfant(s) </option> 
                        <option [value]="divorceavec" > Divorcé avec enfant(s) </option> 
                        <option [value]="veuf" > Veuf/veuve </option> 
                    </select>
                    <span class="help-block"> </span>  
                    </div>
                </div>
        
                <div class="form-group" >
                    <label class="col-md-4 control-label" >Adresse Principale</label>
                    <div class="col-md-1">
                        <button class="btn btn-default " type="button" (click)="openAdresseModal(adresse)" tooltip="Ajouter une adresse">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </div>  
                    <div class="col-md-3" *ngIf="PersonneForm.value.adresse != null">
                            <b>Maison</b> : {{PersonneForm.value.adresse.maison}}<br>
                            <b>Téléphone</b> : {{PersonneForm.value.adresse.telephone}}<br>
                            <b>Code Postal</b> : {{PersonneForm.value.adresse.codePostal}}<br>
                            <b>Rue</b> : {{PersonneForm.value.adresse.rue}}<br>
                            <b>Unité Administrative</b> : {{PersonneForm.value.adresse.uniteAdministrative.denomination}}<br>
                    </div>
                </div>
                <br>
                <div  class="form-group">
                    <label class="col-md-4 control-label"> </label>
                    <div class="col-md-4">
                        <button class="btn btn-success pull-left" type="submit" ><span class="glyphicon glyphicon-ok-circle"></span></button>  
                        <a routerLink="../personnes"> <button class="btn btn-default pull-right"><span class="glyphicon glyphicon-arrow-left"></span> </button> </a>
                    </div>
                </div>
              </form>
    </div>
</div>  
<!-- pop up lieu de naissance -->
<ng-template #lieuNaissance>
    <div class="modal-header">
        <h4 class="modal-title pull-left"></h4>
        <button type="button" class="close pull-right" 
                aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    
    <div class="modal-body">
        <form class="form-horizontal" #lieuNaissanceF="ngForm" (ngSubmit)="onGetLieuNaissance(lieuNaissanceF.value)">
          <fieldset>
          <!-- Form Name -->
          <legend>Lieu de Naissance</legend>
          <!--Code-->
          <input *ngIf="vue" name="code" type="text" class="form-control input-md" >
          <!--Maison-->
          <div class="form-group">
              <label class="col-md-4 control-label" for="textinput">Maison</label>  
              <div class="col-md-4">
              <input name="maison" type="text" class="form-control input-md"  ngModel required>
              <span class="help-block"> </span>
              </div>
          </div>
          <!--Téléphone-->
          <div class="form-group">
              <label class="col-md-4 control-label" for="textinput">Téléphone</label>  
              <div class="col-md-4">
              <input name="telephone" type="tel" class="form-control input-md"  ngModel required>
              <span class="help-block"> </span>
              </div>
          </div>
          <!-- Email -->
          <div class="form-group">
            <label class="col-md-4 control-label" >Email</label>  
            <div class="col-md-4">
            <input type="email" class="form-control" name = "email">
            <span class="help-block"> </span>  
            </div>
          </div>
          <!--Code postal-->
          <div class="form-group">
              <label class="col-md-4 control-label" for="textinput">Code postal</label>  
              <div class="col-md-4">
              <input name="codePostal" type="text" class="form-control input-md"  ngModel >
              <span class="help-block"> </span>  
              </div>
          </div>
          <!--Rue-->
          <div class="form-group">
              <label class="col-md-4 control-label" for="textinput">Rue</label>  
              <div class="col-md-4">
              <input name="rue" type="text" class="form-control input-md"  ngModel >
              <span class="help-block"> </span>
              </div>
          </div>
          <!--Unité Administrative-->
          <div class="form-group" >
              <label class="col-md-4 control-label">Unité Administrative</label>  
              <div class="col-md-4">
                  <select name="uniteAdministrative" [(ngModel)]='uaSelected' class="form-control">
                      <option *ngFor="let u of uniteAdministratives._embedded.uniteAdministratives" [ngValue]="u">
                          {{u.denomination}}
                      </option>
                  </select>         
              <span class="help-block"> </span>  
              </div>
          </div>
          <!-- Button -->
          <div class="form-group">
              <label class="col-md-4 control-label" > </label>
              <div class="col-md-8">
                <button name="button1id" class="btn btn-success" type="submit" [disabled]="lieuNaissanceF.invalid"><span class="glyphicon glyphicon-ok-circle"></span></button>
              </div>
          </div>
          </fieldset>
          </form>
      </div>
</ng-template> 
<!-- pop up nouvelle adresse -->
<ng-template #adresse>
    <div class="modal-header">
        <h4 class="modal-title pull-left"></h4>
        <button type="button" class="close pull-right" 
                aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    
    <div class="modal-body">
        <form class="form-horizontal" #adresseF="ngForm" (ngSubmit)="onGetAdresse(adresseF.value)">
          <fieldset>
          <!-- Form Name -->
          <legend>Nouvelle Adresse</legend>
          <!--Code-->
          <input *ngIf="vue" name="code" type="text" class="form-control input-md" >
          <!--Maison-->
          <div class="form-group">
              <label class="col-md-4 control-label" for="textinput">Maison</label>  
              <div class="col-md-4">
              <input name="maison" type="text" class="form-control input-md"  ngModel required>
              <span class="help-block"> </span>
              </div>
          </div>
          <!--Téléphone-->
          <div class="form-group">
              <label class="col-md-4 control-label" for="textinput">Téléphone</label>  
              <div class="col-md-4">
              <input name="telephone" type="tel" class="form-control input-md"  ngModel required>
              <span class="help-block"> </span>
              </div>
          </div>
          <!-- Email -->
          <div class="form-group">
            <label class="col-md-4 control-label" >Email</label>  
            <div class="col-md-4">
            <input type="email" class="form-control" name = "email">
            <span class="help-block"> </span>  
            </div>
          </div>
          <!--Code postal-->
          <div class="form-group">
              <label class="col-md-4 control-label" for="textinput">Code postal</label>  
              <div class="col-md-4">
              <input name="codePostal" type="text" class="form-control input-md"  ngModel >
              <span class="help-block"> </span>  
              </div>
          </div>
          <!--Rue-->
          <div class="form-group">
              <label class="col-md-4 control-label" for="textinput">Rue</label>  
              <div class="col-md-4">
              <input name="rue" type="text" class="form-control input-md"  ngModel >
              <span class="help-block"> </span>
              </div>
          </div>
          <!--Unité Administrative-->
          <div class="form-group" >
              <label class="col-md-4 control-label">Unité Administrative</label>  
              <div class="col-md-4">
                  <select name="uniteAdministrative" [(ngModel)]='uaSelected' class="form-control">
                      <option *ngFor="let u of uniteAdministratives._embedded.uniteAdministratives" [ngValue]="u">
                          {{u.denomination}}
                      </option>
                  </select>         
              <span class="help-block"> </span>  
              </div>
          </div>
          <!-- Button -->
          <div class="form-group">
              <label class="col-md-4 control-label" > </label>
              <div class="col-md-8">
                <button class="btn btn-success" type="submit" [disabled]="adresseF.invalid"><span class="glyphicon glyphicon-ok-circle"></span></button>
              </div>
          </div>
          </fieldset>
          </form>
      </div>
</ng-template> 