<app-header></app-header> 
<div class="container">
    <div class="panel panel-default">
    <div class="panel-heading">Adresses
      <form class="navbar-form navbar-right" #f="ngForm" (ngSubmit)="onSearch(f.value)">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="suivant maison" name="keyword" ngModel required>
        </div>
        <button type="submit" class="btn btn-primary" ><span class="glyphicon glyphicon-search"></span></button>
        <button type="button" class="btn btn-default navbar-right" tooltip="Ajouter une nouvelle adresse" (click)="openModal(template)">
          <span class="glyphicon glyphicon-plus"></span>
        </button>
      </form>
    </div>
    
    <div class="panel-body">
        <table class="table table-striped custab" *ngIf="adresses">
        <thead>
            <tr>
                <th>Maison</th>
                <th>Téléphone</th>
                <th>Email</th>
                <th>Code Postal</th>
                <th>Rue</th>
                <th>Unité Administrative</th>
            </tr>
        </thead>
          <tr *ngFor="let a of adresses._embedded.adresses">
            <td>{{a.maison}}</td>
            <td>{{a.telephone}}</td>
            <td>{{a.email}}</td>
            <td>{{a.codePostal}}</td>
            <td>{{a.rue}}</td>
            <td>{{a.uniteAdministrative.denomination}}</td>
            <td class="text-center"><a class='btn btn-info btn-xs' (click)="onEdit(a)"><span class="glyphicon glyphicon-edit"></span></a><a (click)="onDelete(a)" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span></a></td>
          </tr>
        </table>
        <ul class="nav nav-pills"  *ngIf="pages">
            <li *ngFor="let p of pages; let i=index"> 
                <button class="btn btn-dark"><a (click)="onPageAdresse(i)">{{i}}</a></button>
            </li>
        </ul>
      </div>
    </div>
</div>


<div class="container" *ngIf="update == 1">
    <div class="modal-header">
        <h4 class="modal-title pull-left"></h4>
    </div>

    <div class="modal-body">
      <form class="form-horizontal" #f="ngForm" (ngSubmit)="onUpdateAdresse(f.value)">
        <fieldset>
            <!-- Form Name -->
            <legend>Modifier l'adresse</legend>
            <!--Maison-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="textinput">Maison</label>  
                <div class="col-md-4">
                <input name="maison" type="text" class="form-control input-md" required ngModel [(ngModel)]="adresse.maison">
                <span class="help-block"> </span>
                </div>
            </div>
            <!--Téléphone-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="textinput">Téléphone</label>  
                <div class="col-md-4">
                <input name="telephone" type="tel" class="form-control input-md" required ngModel [(ngModel)]="adresse.telephone">
                <span class="help-block"> </span>
                </div>
            </div>
            <!-- Email -->
            <div class="form-group">
                <label class="col-md-4 control-label" >Email</label>  
                <div class="col-md-4">
                <input type="email" class="form-control" name = "email" ngModel [(ngModel)]="adresse.email">
                <span class="help-block"> </span>  
                </div>
            </div>
            <!--Code postal-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="textinput">Code postal</label>  
                <div class="col-md-4">
                <input name="uaMere" type="text" class="form-control input-md" required [(ngModel)]="adresse.codePostal">
                <span class="help-block"> </span>  
                </div>
            </div>
            <!--Rue-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="textinput">Rue</label>  
                <div class="col-md-4">
                <input name="rue" type="text" class="form-control input-md" ngModel [(ngModel)]="adresse.rue">
                <span class="help-block"> </span>
                </div>
            </div>
            <!--Unité administrative-->
            <div class="form-group" >
              <label class="col-md-4 control-label">Unité Administrative</label>  
              <div class="col-md-4">
                  <select name="uniteAdministrative" [(ngModel)]='uaSelected' class="form-control">
                      <option *ngFor="let u of uniteAdministratives._embedded.uniteAdministratives" [ngValue]="u">
                          {{u.denomination}}
                      </option>
                  </select>         
              <span class="help-block"> </span>  
              </div>
          </div>
            <!-- Button -->
            <div class="form-group">
                <label class="col-md-4 control-label" > </label>
                <div class="col-md-8">
                <button class="btn btn-success" type="submit" [disabled]="f.invalid"><span class="glyphicon glyphicon-ok-circle"></span></button>
                </div>
            </div>
        </fieldset>
        </form>
    </div>
</div>  


  <ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left"></h4>
        <button type="button" class="close pull-right" 
                aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    
    <div class="modal-body">
      <form class="form-horizontal" #f="ngForm" (ngSubmit)="onSaveAdresse(f.value)">
        <fieldset>
        <!-- Form Name -->
        <legend>Nouvelle Adresse</legend>
        <!--Code-->
        <input *ngIf="vue" name="code" type="text" class="form-control input-md" >
        <!--Maison-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">Maison</label>  
            <div class="col-md-4">
            <input name="maison" type="text" class="form-control input-md" required ngModel>
            <span class="help-block"> </span>
            </div>
        </div>
        <!--Téléphone-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">Téléphone</label>  
            <div class="col-md-4">
            <input name="telephone" type="tel" class="form-control input-md" required ngModel>
            <span class="help-block"> </span>
            </div>
        </div>
        <!-- Email -->
        <div class="form-group">
            <label class="col-md-4 control-label" >Email</label>  
            <div class="col-md-4">
            <input type="email" class="form-control" name = "email" ngModel>
            <span class="help-block"> </span>  
            </div>
        </div>
        <!--Code postal-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">Code postal</label>  
            <div class="col-md-4">
            <input name="codePostal" type="text" class="form-control input-md"  ngModel>
            <span class="help-block"> </span>  
            </div>
        </div>
        <!--Rue-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">Rue</label>  
            <div class="col-md-4">
            <input name="rue" type="text" class="form-control input-md"  ngModel>
            <span class="help-block"> </span>
            </div>
        </div>
        <!--Unité Administrative-->
        <div class="form-group" >
            <label class="col-md-4 control-label">Unité Administrative</label>  
            <div class="col-md-4">
                <select name="uniteAdministrative" [(ngModel)]='uaSelected' class="form-control">
                    <option *ngFor="let u of uniteAdministratives._embedded.uniteAdministratives" [ngValue]="u">
                        {{u.denomination}}
                    </option>
                </select>         
            <span class="help-block"> </span>  
            </div>
        </div>
        <!-- Button -->
        <div class="form-group">
            <label class="col-md-4 control-label" > </label>
            <div class="col-md-8">
              <button class="btn btn-success" type="submit" [disabled]="f.invalid"><span class="glyphicon glyphicon-ok-circle"></span></button>
            </div>
        </div>
        </fieldset>
        </form>
    </div>
  </ng-template>