<app-header></app-header>
<!-- affichage des personnes -->
<div>
    <div class="panel panel-default">
    <div class="panel-heading">Personnes
      <form class="navbar-form navbar-right" #f="ngForm" (ngSubmit)="onSearch(f.value)">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="suivant nom" name="keyword" ngModel required>
        </div>
        <button type="submit" class="btn btn-primary" ><span class="glyphicon glyphicon-search"></span></button>
        <a routerLink="../new-personne">
        <button type="button" class="btn btn-default navbar-right" tooltip="Ajouter une nouvelle personne" >
            <span class="glyphicon glyphicon-plus"></span>
        </button>
        </a>    
      </form>
    </div>
    
    <div class="panel-body">
        <table class="table table-striped custab" *ngIf="personnes">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prenoms</th>
                <th>Sexe</th>
                <th>Date Naissance</th>
                <th>Lieu Naissance</th>
                <th>Profession</th>
                <th>Nom Père</th>
                <th>Nom Mère</th>
                <th>Alias</th>
                <th>Nom Marital</th>
                <th>Entité Morale Associée</th>
                <th>Civilté</th>
                <th>Fonction</th>
                <th>Situation Matrimoniale</th>
                <th>Adresse</th>
            </tr>
        </thead>
          <tr *ngFor="let p of personnes._embedded.personnes">
            <td>{{p.nom}}</td>
            <td>{{p.prenoms}}</td>
            <td>{{p.sexe}}</td>
            <td>{{p.dateNaissance}}</td>
            <td>{{p.lieuNaissance.maison}}</td>
            <td>{{p.profession}}</td>
            <td>{{p.nomPere}}</td>
            <td>{{p.nomMere}}</td>
            <td><div *ngIf="p.alias != null">{{p.alias}}</div></td>
            <td><div *ngIf="p.nomMarital != null">{{p.nomMarital}}</div></td>
            <td><div *ngIf="p.entiteMorale != null">{{p.entiteMorale}}</div></td>
            <td><div *ngIf="p.civilite != null">{{p.civilite}}</div></td>
            <td><div *ngIf="p.fonction != null">{{p.fonction}}</div></td>
            <td><div *ngIf="p.situationMatrimoniale != null">{{p.situationMatrimoniale}}</div></td>
            <td><div *ngIf="p.adresse != null">{{p.adresse.maison}}</div></td>
            <td class="text-center"><a class='btn btn-info btn-xs' (click)="onEdit(p)"><span class="glyphicon glyphicon-edit"></span></a><a (click)="onDelete(p)" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span></a></td>
          </tr>
        </table>
        <ul class="nav nav-pills"  *ngIf="pages">
            <li *ngFor="let p of pages; let i=index"> 
                <button class="btn btn-dark"><a (click)="onPagePersonne(i)">{{i}}</a></button>
            </li>
        </ul>
      </div>
    </div>
</div>


<div class="container" *ngIf="update == 1">
    <div class="modal-header">
        <h4 class="modal-title pull-left"></h4>
    </div>

    <div class="modal-body">
        <form class="form-horizontal" [formGroup]="PersonneForm" (ngSubmit)="onUpdatePersonne()">
        <fieldset>
            <!-- Form Name -->
            <legend>Modifier la personne</legend>
            <div class="form-group">
                <label class="col-md-4 control-label" >Nom</label>  
                <div class="col-md-4">
                <input type="text" class="form-control"  formControlName = "nom" required [(ngModel)]="personne.nom">
                <span class="help-block"> </span>  
                </div>
            </div>
            
            <div class="form-group">
                <label class="col-md-4 control-label" >Prenoms</label>  
                <div class="col-md-4    ">
                <input type="text" class="form-control" formControlName = "prenoms" required [(ngModel)]="personne.prenoms">
                <span class="help-block"> </span>  
                </div>
            </div>
            
            <div class="form-group">
                <label class="col-md-4 control-label" >Sexe</label>  
                <div class="radio col-md-4 " >
                <label *ngFor="let sexe of sexes"> <input type="radio" [value]="sexe" formControlName = "sexe" required>{{sexe}}
                &nbsp; &nbsp; &nbsp; </label>
                </div>
                <span class="help-block"> </span>  
            </div>
            
            <div class="form-group">
                <label class="col-md-4 control-label" >Date de Naissance</label>  
                <div class="col-md-4">
                <input type="date" class="form-control" formControlName = "dateNaissance" required [(ngModel)]="personne.dateNaissance">
                <span class="help-block"> </span>  
                </div>
            </div>
            
            <div class="form-group">
                <label class="col-md-4 control-label" >Lieu de Naissance</label>  
                <div class="col-md-1">
                    <button type="button" class="btn btn-default " tooltip="Ajouter le lieu de naissance" (click)="openLieuNaissanceModal(lieuNaissance)">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                <span class="help-block"> </span>  
                </div>
                <div class="col-md-3" *ngIf="PersonneForm.value.lieuNaissance != null">
                    <b>Maison</b> : {{PersonneForm.value.lieuNaissance.maison}}<br>
                    <b>Téléphone</b> : {{PersonneForm.value.lieuNaissance.telephone}}<br>
                    <b>Code Postal</b> : {{PersonneForm.value.lieuNaissance.codePostal}}<br>
                    <b>Rue</b> : {{PersonneForm.value.lieuNaissance.rue}}<br>
                    <b>Unité Administrative</b> : {{PersonneForm.value.lieuNaissance.uniteAdministrative.denomination}}<br>
                </div>
            </div>
            
            <div class="form-group">
                <label class="col-md-4 control-label" >Profession</label>  
                <div class="col-md-4">
                <input type="text" class="form-control" formControlName = "profession" required [(ngModel)]="personne.profession">
                <span class="help-block"> </span>  
                </div>
            </div>
            
            <div class="form-group">
                <label class="col-md-4 control-label" >Nom du Père</label>  
                <div class="col-md-4">
                <input type="text" class="form-control" formControlName = "nomPere" required [(ngModel)]="personne.nomPere">
                <span class="help-block"> </span>  
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" >Nom du Mère</label>  
                <div class="col-md-4">
                <input type="text" class="form-control" formControlName = "nomMere" required [(ngModel)]="personne.nomMere">
                <span class="help-block"> </span>  
                </div>
            </div>
            
            <div class="form-group">
                <label class="col-md-4 control-label" >Nom du Marital</label>  
                <div class="col-md-4">
                <input type="text" class="form-control" formControlName = "nomMarital" [(ngModel)]="personne.nomMarital">
                <span class="help-block"> </span>  
                </div>
            </div>
            
            <div class="form-group">
                <label class="col-md-4 control-label" >Alias</label>  
                <div class="col-md-4">
                <input type="text" class="form-control" formControlName = "alias" [(ngModel)]="personne.alias">
                <span class="help-block"> </span>  
                </div>
            </div>
            
            <div class="form-group">
                <label class="col-md-4 control-label" >Entité morale associée</label>  
                <div class="col-md-4">
                <input type="text" class="form-control" formControlName = "entiteMorale" [(ngModel)]="personne.entiteMorale">
                <span class="help-block"> </span>  
                </div>
            </div>
    
            <div class="form-group">
                <label class="col-md-4 control-label" >Civilité</label>  
                <div class="col-md-4">
                <select id="civilite" formControlName ="civilite" class="form-control"  [(ngModel)]="personne.civilite">
                    <option [value]="mr" > Monsieur </option>
                    <option [value]="mme" > Madame </option>
                    <option [value]="mlle" > Mademoiselle </option> 
                </select>
                <span class="help-block"> </span>  
                </div>
            </div>
            
            <div class="form-group">
                <label class="col-md-4 control-label" >Fonction</label>  
                <div class="col-md-4">
                <select id="civilite" formControlName ="fonction" class="form-control"  [(ngModel)]="personne.fonction">
                    <option [value]="justiciable" > Justiciable </option>
                    <option [value]="juge" > Juge </option>
                    <option [value]="procureur" > Procureur </option>
                </select>
                <span class="help-block"> </span>  
                </div>
            </div>
            
            <div class="form-group">
                <label class="col-md-4 control-label" >Situation Matrimoniale</label>   
                <div class="col-md-4">
                <select id="situationMatrimoniale" formControlName = "situationMatrimoniale" class="form-control" [(ngModel)]="personne.situationMatrimoniale">
                    <option [value]="celibsans" > Célibataire sans enfant(s) </option>
                    <option [value]="celibavec" > Célibataire avec enfant(s) </option>
                    <option [value]="mariesans" > Marié sans enfant(s) </option>                
                    <option [value]="marieavec" > Marié avec enfant </option>                
                    <option [value]="divorcesans" > Divorcé sans enfant(s) </option> 
                    <option [value]="divorceavec" > Divorcé avec enfant(s) </option> 
                    <option [value]="veuf" > Veuf/veuve </option> 
                </select>
                <span class="help-block"> </span>  
                </div>
            </div>
    
            <div class="form-group" >
                <label class="col-md-4 control-label" >Adresse Principale</label>
                <div class="col-md-1">
                    <button class="btn btn-default " type="button" (click)="openAdresseModal(adresse)" tooltip="Ajouter une adresse">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </div>  
                <div class="col-md-3" *ngIf="PersonneForm.value.adresse != null">
                    <b>Maison</b> : {{PersonneForm.value.adresse.maison}}<br>
                    <b>Téléphone</b> : {{PersonneForm.value.adresse.telephone}}<br>
                    <b>Code Postal</b> : {{PersonneForm.value.adresse.codePostal}}<br>
                    <b>Rue</b> : {{PersonneForm.value.adresse.rue}}<br>
                    <b>Unité Administrative</b> : {{PersonneForm.value.adresse.uniteAdministrative.denomination}}<br>
                </div>
            </div>
            <!-- Button -->
            <div class="form-group">
                <label class="col-md-4 control-label" > </label>
                <div class="col-md-8">
                <button name="button1id" class="btn btn-success" type="submit" [disabled]="PersonneForm.invalid"><span class="glyphicon glyphicon-ok-circle"></span></button>
                </div>
            </div>
        </fieldset>
        </form>
    </div>
</div>

<!-- pop up lieu de naissance -->
<ng-template #lieuNaissance>
    <div class="modal-header">
        <h4 class="modal-title pull-left"></h4>
        <button type="button" class="close pull-right" 
                aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    
    <div class="modal-body">
        <form class="form-horizontal" #lieuNaissanceF="ngForm" (ngSubmit)="onGetLieuNaissance(lieuNaissanceF.value)">
          <fieldset>
          <!-- Form Name -->
          <legend>Lieu de Naissance</legend>
          <!--Code-->
          <input *ngIf="vue" name="code" type="text" class="form-control input-md">
          <!--Maison-->
          <div class="form-group">
              <label class="col-md-4 control-label" for="textinput">Maison</label>  
              <div class="col-md-4">
              <input name="maison" type="text" class="form-control input-md" required ngModel [(ngModel)]="personne.lieuNaissance.maison">
              <span class="help-block"> </span>
              </div>
          </div>
          <!--Téléphone-->
          <div class="form-group">
              <label class="col-md-4 control-label" for="textinput">Téléphone</label>  
              <div class="col-md-4">
              <input name="telephone" type="tel" class="form-control input-md" required ngModel [(ngModel)]="personne.lieuNaissance.telephone">
              <span class="help-block"> </span>
              </div>
          </div>
          <!-- Email -->
          <div class="form-group">
            <label class="col-md-4 control-label" >Email</label>  
            <div class="col-md-4">
            <input type="email" class="form-control" name = "email" [(ngModel)]="personne.lieuNaissance.telephone">
            <span class="help-block"> </span>  
            </div>
          </div>
          <!--Code postal-->
          <div class="form-group">
              <label class="col-md-4 control-label" for="textinput">Code postal</label>  
              <div class="col-md-4">
              <input name="codePostal" type="text" class="form-control input-md"  ngModel  [(ngModel)]="personne.lieuNaissance.codePostal">
              <span class="help-block"> </span>  
              </div>
          </div>
          <!--Rue-->
          <div class="form-group">
              <label class="col-md-4 control-label" for="textinput">Rue</label>  
              <div class="col-md-4">
              <input name="rue" type="text" class="form-control input-md"  ngModel [(ngModel)]="personne.lieuNaissance.rue">
              <span class="help-block"> </span>
              </div>
          </div>
          <!--Unité Administrative-->
          <div class="form-group" >
              <label class="col-md-4 control-label">Unité Administrative</label>  
              <div class="col-md-4">
                  <select name="uniteAdministrative"  class="form-control" ngModel>
                      <option *ngFor="let u of uniteAdministratives._embedded.uniteAdministratives" [ngValue]="u">
                          {{u.denomination}}
                      </option>
                  </select>         
              <span class="help-block"> </span>  
              </div>
          </div>
          <!-- Button -->
          <div class="form-group">
              <label class="col-md-4 control-label" > </label>
              <div class="col-md-8">
                <button name="button1id" class="btn btn-success" type="submit" [disabled]="lieuNaissanceF.invalid"><span class="glyphicon glyphicon-ok-circle"></span></button>
              </div>
          </div>
          </fieldset>
          </form>
      </div>
</ng-template> 
<!-- pop up nouvelle adresse -->
<ng-template #adresse>
    <div class="modal-header">
        <h4 class="modal-title pull-left"></h4>
        <button type="button" class="close pull-right" 
                aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    
    <div class="modal-body">
        <form class="form-horizontal" #adresseF="ngForm" (ngSubmit)="onGetAdresse(adresseF.value)">
          <fieldset>
          <!-- Form Name -->
          <legend>Nouvelle Adresse</legend>
          <!--Code-->
          <input *ngIf="vue" name="code" type="text" class="form-control input-md" >
          <!--Maison-->
          <div class="form-group">
              <label class="col-md-4 control-label" for="textinput">Maison</label>  
              <div class="col-md-4">
              <input name="maison" type="text" class="form-control input-md" required ngModel [(ngModel)]="personne.adresse.maison">
              <span class="help-block"> </span>
              </div>
          </div>
          <!--Téléphone-->
          <div class="form-group">
              <label class="col-md-4 control-label" for="textinput">Téléphone</label>  
              <div class="col-md-4">
              <input name="telephone" type="tel" class="form-control input-md" required ngModel [(ngModel)]="personne.adresse.telephone">
              <span class="help-block"> </span>
              </div>
          </div>
          <!-- Email -->
          <div class="form-group">
            <label class="col-md-4 control-label" >Email</label>  
            <div class="col-md-4">
            <input type="email" class="form-control" name = "email" [(ngModel)]="personne.adresse.email">
            <span class="help-block"> </span>  
            </div>
          </div>
          <!--Code postal-->
          <div class="form-group">
              <label class="col-md-4 control-label" for="textinput">Code postal</label>  
              <div class="col-md-4">
              <input name="codePostal" type="text" class="form-control input-md"  ngModel [(ngModel)]="personne.adresse.codePostal">
              <span class="help-block"> </span>  
              </div>
          </div>
          <!--Rue-->
          <div class="form-group">
              <label class="col-md-4 control-label" for="textinput">Rue</label>  
              <div class="col-md-4">
              <input name="rue" type="text" class="form-control input-md"  ngModel [(ngModel)]="personne.adresse.rue">             
              <span class="help-block"> </span>
              </div>
          </div>
          <!--Unité Administrative-->
          <div class="form-group" >
              <label class="col-md-4 control-label">Unité Administrative</label>  
              <div class="col-md-4">
                  <select name="uniteAdministrative"  class="form-control" ngModel>
                      <option *ngFor="let u of uniteAdministratives._embedded.uniteAdministratives" [ngValue]="u">
                          {{u.denomination}}
                      </option>
                  </select>         
              <span class="help-block"> </span>  
              </div>
          </div>
          <!-- Button -->
          <div class="form-group">
              <label class="col-md-4 control-label" > </label>
              <div class="col-md-8">
                <button class="btn btn-success" type="submit" [disabled]="adresseF.invalid"><span class="glyphicon glyphicon-ok-circle"></span></button>
              </div>
          </div>
          </fieldset>
          </form>
      </div>
</ng-template> 