<app-header></app-header>
<div class="container">
    <div class="panel panel-default">
    <div class="panel-heading">Maisons d'Arrêt
      <form class="navbar-form navbar-right" #f="ngForm" (ngSubmit)="onSearch(f.value)">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="suivant libelé" name="keyword" ngModel required>
        </div>
        <button type="submit" class="btn btn-primary" ><span class="glyphicon glyphicon-search"></span></button>
        <button type="button" class="btn btn-default navbar-right" tooltip="Ajouter un nouvel article" (click)="openModal(template)">
          <span class="glyphicon glyphicon-plus"></span>
        </button>
      </form>
    </div>
    
    <div class="panel-body">
        <table class="table table-striped custab" *ngIf="maisonArrets">
        <thead>
            <tr>
              <th>Libelé</th>
            </tr>
        </thead>
          <tr *ngFor="let m of maisonArrets._embedded.maisonArrets">
            <td>{{m.libele}}</td>
            <td class="text-center"><a class='btn btn-info btn-xs' (click)="onEdit(m)"><span class="glyphicon glyphicon-edit"></span></a><a (click)="onDelete(m)" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span></a></td>
          </tr>
        </table>
        <ul class="nav nav-pills"  *ngIf="pages">
          <li *ngFor="let p of pages; let i=index"> 
            <button class="btn btn-dark"><a (click)="onPageMaisonArret(i)">{{i}}</a></button>
          </li>
        </ul>
      </div>
    </div>
</div>


<div class="container" *ngIf="update == 1">
    <div class="modal-header">
        <h4 class="modal-title pull-left"></h4>
    </div>

    <div class="modal-body">
      <form class="form-horizontal" #f="ngForm" (ngSubmit)="onUpdateMaisonArret(f.value)">
        <fieldset>
        <!-- Form Name -->
        <legend>Modifier la maison d'arrêt</legend>
        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="textinput">Libelé</label>  
          <div class="col-md-4">
          <input id="libele"  name="libele" type="text" class="form-control input-md" required="" ngModel [(ngModel)]="maisonArret.libele">
          <span class="help-block"> </span>  
          <!-- Button -->
          <button name="button1id" class="btn btn-success" type="submit"><span class="glyphicon glyphicon-ok-circle"></span></button>
          </div>
        </div>
        </fieldset> 
        </form>
    </div>
</div>  


  <ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left"></h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    
    <div class="modal-body">
      <form class="form-horizontal" #f="ngForm" (ngSubmit)="onSaveMaisonArret(f.value)">
        <fieldset>
        <!-- Form Name -->
        <legend>Nouvelle Civilité</legend>
        <!--Code-->
        <input *ngIf="vue" name="code" type="text" class="form-control input-md" >
        <!--Libelé-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="textinput">Libelé</label>  
          <div class="col-md-4">
          <input name="libele" type="text" class="form-control input-md" required ngModel>
          <span class="help-block"> </span>  
          </div>
        </div>
        <!--Button -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="button1id"> </label>
          <div class="col-md-8">
            <button class="btn btn-success" type="submit" [disabled]="f.invalid"><span class="glyphicon glyphicon-ok-circle"></span></button>
          </div>
        </div>
        </fieldset>
        </form>
    </div>
  </ng-template>