<app-header></app-header>


<!-- affichage decisions-->
<div class="container">
    <div class="panel panel-default">
    <div class="panel-heading">Décisions
      <form class="navbar-form navbar-right" #f="ngForm" (ngSubmit)="onSearch(f.value)">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="suivant numéro" name="keyword" ngModel required>
        </div>
        <button type="submit" class="btn btn-primary" ><span class="glyphicon glyphicon-search"></span></button>
        <button type="button" class="btn btn-default navbar-right" tooltip="Ajouter une nouvelle décision" (click)="openModal(template)">
          <span class="glyphicon glyphicon-plus"></span>
        </button>
      </form>
    </div>
    
    <div class="panel-body">
        <table class="table table-striped custab" *ngIf="decisions">
        <thead>
            <tr>
                <th>Numéro</th>
                <th>Libelé</th>
                <th>Date Audience</th>
                <th>Juge</th>
                <th>Type de Décision</th>
                <th>Affaire</th>
            </tr>
        </thead>
          <tr *ngFor="let d of decisions._embedded.decisions">
            <td>{{d.numero}}</td>
            <td>{{d.libele}}</td>
            <td>{{d.dateAudience}}</td>
            <td>{{d.juge.nom}}</td>
            <td>{{d.typeDecision}}</td>
            <td>{{d.affaire.numero}}</td>
            <td class="text-center"><a class='btn btn-info btn-xs' (click)="onEdit(d)"><span class="glyphicon glyphicon-edit"></span></a><a (click)="onDelete(d)" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span></a></td>
          </tr>
        </table>
        <ul class="nav nav-pills"  *ngIf="pages">
            <li *ngFor="let p of pages; let i=index"> 
                <button class="btn btn-dark"><a (click)="onPageDecision(i)">{{i}}</a></button>
            </li>
        </ul>
      </div>
    </div>
</div>


<!-- modification decision -->
<div class="container" *ngIf="update == 1">
    <div class="modal-header">
        <h4 class="modal-title pull-left"></h4>
    </div>

    <div class="modal-body">
      <form class="form-horizontal" #f="ngForm" (ngSubmit)="onUpdateDecision(f.value)">
        <fieldset>
            <!-- Form Name -->
            <legend>Modifier la décision</legend>
            <!--Numéro-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="textinput">Numéro</label>  
                <div class="col-md-4">
                <input name="numero" type="text" class="form-control input-md" required [(ngModel)]="decision.numero">
                <span class="help-block"> </span>
                </div>
            </div>
            <!--Libelé-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="textinput">Libelé</label>  
                <div class="col-md-4">
                <input name="libele" type="text" class="form-control input-md" required [(ngModel)]="decision.libele">
                <span class="help-block"> </span>
                </div>
            </div>
            <!--Date Audience-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="textinput">Date Audience</label>  
                <div class="col-md-4">
                <input name="dateAudience" type="date" class="form-control input-md" required [(ngModel)]="decision.dateAudience">
                <span class="help-block"> </span>  
                </div>
            </div>
            <!--Juge-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="textinput">Juge</label>  
                <div class="col-md-4">
                <select name="juge" [(ngModel)]='jugeSelected' class="form-control">
                    <ng-container *ngFor="let j of personnes._embedded.personnes">
                        <ng-container *ngIf="j.fonction === 'juge'">
                            <option [ngValue]="j" > 
                                {{j.nom}} {{j.prenoms}}
                            </option>
                        </ng-container>
                    </ng-container>
                </select>
                <span class="help-block"> </span>
                </div>
            </div>
            <!-- Type Décision -->
            <div class="form-group">
                <label class="col-md-4 control-label" > Type Décision </label>
                <div class="col-md-4">
                <select name="typeDecision" [(ngModel)]='typeDecisionSelected' class="form-control">
                    <option [value]="contradictoire"> Contradictoire </option>
                    <option [value]="contradictoireasignifier"> Contradictoire à signifier </option>
                    <option [value]="pardefaut"> Par défaut </option>
                    <option [value]="iteratifpardefaut"> Itératif par défaut </option>
                </select>                   
                <span class="help-block"> </span>
                </div>
            </div>
            <!-- Affaire -->
            <div class="form-group">
                <label class="col-md-4 control-label" > Affaire </label>
                <div class="col-md-4">
                <select name="affaire" [(ngModel)]='affaireSelected' class="form-control">
                    <option *ngFor="let af of affaires._embedded.affaires" [ngValue]="af">
                        {{af.numero}} {{af.dateDebutAffaire}}
                    </option>
                </select>
                <span class="help-block"> </span>
                </div>
            </div>
            <!-- Button -->
            <div class="form-group">
                <label class="col-md-4 control-label" > </label>
                <div class="col-md-8">
                <button class="btn btn-success" type="submit" [disabled]="f.invalid"><span class="glyphicon glyphicon-ok-circle"></span></button>
                </div>
            </div>
        </fieldset>
        </form>
    </div>
</div>  

<!-- pop up ajout decision -->
  <ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left"></h4>
        <button type="button" class="close pull-right" 
                aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    
    <div class="modal-body">
      <form class="form-horizontal" #f="ngForm" (ngSubmit)="onSaveDecision(f.value)">
        <fieldset>
        <!-- Form Name -->
        <legend>Nouvelle Decision</legend>
        <!--Code-->
        <input *ngIf="vue" name="code" type="text" class="form-control input-md" >
        <!--Numéro-->
        <div class="form-group">
            <label class="col-md-4 control-label" >Numéro</label>  
            <div class="col-md-4">
            <input name="numero" type="text" class="form-control"  required ngModel>
            <span class="help-block"> </span>  
            </div>
        </div>
        <!--Libelé-->
        <div class="form-group">
            <label class="col-md-4 control-label" >Libelé</label>  
            <div class="col-md-4">
            <input name="libele" type="text" class="form-control" required ngModel>
            <span class="help-block"> </span>  
            </div>
        </div>
        <!--Date Audience-->
        <div class="form-group">
            <label class="col-md-4 control-label" >Date d'audience</label>  
            <div class="col-md-4"> 
            <input name="dateAudience" type="date" class="form-control" required ngModel>
            <span class="help-block"> </span>  
            </div>
        </div>
        <!--Juge-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">Juge</label>  
            <div class="col-md-4">
            <select name="juge" [(ngModel)]='jugeSelected' class="form-control">
                <ng-container *ngFor="let j of personnes._embedded.personnes">
                    <ng-container *ngIf="j.fonction === 'juge'">
                        <option [ngValue]="j" > 
                            {{j.nom}} {{j.prenoms}}
                        </option>
                    </ng-container>
                </ng-container>
            </select>
            <span class="help-block"> </span>
            </div>
        </div>
        <!-- Type Décision -->
        <div class="form-group">
            <label class="col-md-4 control-label" > Type Décision </label>
            <div class="col-md-4">
            <select name="typeDecision" [(ngModel)]='typeDecisionSelected' class="form-control">
                <option [value]="contradictoire"> Contradictoire </option>
                <option [value]="contradictoireasignifier"> Contradictoire à signifier </option>
                <option [value]="pardefaut"> Par défaut </option>
                <option [value]="iteratifpardefaut"> Itératif par défaut </option>
            </select>                   
            <span class="help-block"> </span>
            </div>
        </div>
        <!-- Affaire -->
        <div class="form-group">
            <label class="col-md-4 control-label" > Affaire </label>
            <div class="col-md-4">
            <select name="affaire" [(ngModel)]='affaireSelected' class="form-control">
                <option *ngFor="let af of affaires._embedded.affaires" [ngValue]="af">
                    {{af.numero}} {{af.dateDebutAffaire}}
                </option>
            </select>
            <span class="help-block"> </span>
            </div>
        </div>
        <!-- Button -->
        <div class="form-group">
            <label class="col-md-4 control-label" > </label>
            <div class="col-md-8">
              <button class="btn btn-success" type="submit" ><span class="glyphicon glyphicon-ok-circle"></span></button>
              <button class="btn btn-default col-lg-offset-1" type="reset" ><span class="glyphicon glyphicon-remove"></span></button>
            </div>
        </div>
        </fieldset>
        </form>
    </div>
  </ng-template>
