<app-header></app-header> 

<!--Ajout affaire-->
<div class="container col-md-5" >
    <div class="modal-body">
        <form class="form-horizontal" [formGroup]="AffaireForm" (ngSubmit)="onSaveAffaire()">
            <legend>Ajouter une affaire</legend>
            <fieldset>
                  <!--Numéro-->
                  <div class="form-group">
                      <label class="col-md-4 control-label" >Numéro</label>  
                      <div class="col-md-4">
                      <input  type="text" formControlName="numero" class="form-control input-md" required ngModel>
                      <span class="help-block"> </span>
                      </div>
                  </div>
                  <!--Date début affaire-->
                  <div class="form-group">
                      <label class="col-md-4 control-label" >Date Début Affaire</label>  
                      <div class="col-md-4">
                      <input type="date" formControlName="dateDebutAffaire" class="form-control input-md" required  ngModel>
                      <span class="help-block"> </span>
                      </div>
                  </div>
                  <!--Juridiction-->
                  <div class="form-group">
                    <label class="col-md-4 control-label" >Juridiction</label>  
                    <div class="col-md-4">
                    <select formControlName ="juridiction" class="form-control"  >
                        <option *ngFor="let j of juridictions._embedded.juridictions" [ngValue]="j" >{{j.denomination}}</option>
                    </select>
                    <span class="help-block"> </span>  
                    </div>
                  </div>
                  <!--Chefs de Poursuite-->
                  <div class="form-group">
                    <label class="col-md-4 control-label" >Chefs de poursuite</label>
                    <div class="col-md-4">
                        <select formControlName ="chefPoursuite" class="form-control"  >
                            <option *ngFor="let c of chefpoursuites._embedded.chefPoursuites" [ngValue]="c" >
                                {{c.dateInfraction}} {{c.lieuInfraction.maison}}
                            </option>
                        </select>
                    </div>  
                    <div class="col-md-5 col-lg-offset-4" *ngIf="AffaireForm.value.chefPoursuite != null">
                            <b>Date Infraction</b> : {{AffaireForm.value.chefPoursuite.dateInfraction}}<br>
                            <b>Lieu Infraction</b> : {{AffaireForm.value.chefPoursuite.lieuInfraction.maison}}<br>
                            <b>Détails</b> : {{AffaireForm.value.chefPoursuite.details}}
                    </div>
                    </div>
                    <br>       
                    <!-- Button -->    
                    <div  class="form-group">
                        <label class="col-md-4 control-label"> </label>
                        <div class="col-md-6">
                            <button class="btn btn-success pull-left" type="submit"><span class="glyphicon glyphicon-ok-circle"></span></button> 
                            <button class="btn btn-default col-lg-offset-1" type="reset"><span class="glyphicon glyphicon-remove"></span></button> 
                        </div>
                    </div>
            </fieldset>
        </form>
    </div>
</div>  


<!--Affichage affaires-->
<div class="container col-md-7">
    <div class="panel panel-default">
    <div class="panel-heading">Affaires
      <form class="navbar-form navbar-right" #f="ngForm" (ngSubmit)="onSearch(f.value)">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="suivant numéro" name="keyword" ngModel required>
        </div>
        <button type="submit" class="btn btn-primary" ><span class="glyphicon glyphicon-search"></span></button>
      </form>
    </div>
    
    <div class="panel-body">
        <table class="table table-striped custab" *ngIf="affaires">
        <thead>
            <tr>
                <th>Numéro</th>
                <th>Date Début</th>
                <th>Juridiction Associée</th>
                <th>Chef de Poursuite</th>
            </tr>
        </thead>
          <tr *ngFor="let a of affaires._embedded.affaires">
            <td>{{a.numero}}</td>
            <td>{{a.dateDebutAffaire}}</td>
            <td *ngIf="a.juridiction">{{a.juridiction.denomination}}</td>
            <td *ngIf="a.chefPoursuite">{{a.chefPoursuite.dateInfraction}} <br> {{a.chefPoursuite.lieuInfraction.maison}} </td>
            <td class="text-center"><a class='btn btn-info btn-xs' (click)="onEdit(a)"><span class="glyphicon glyphicon-edit"></span></a><a (click)="onDelete(a)" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span></a></td>
          </tr>
        </table>
        <ul class="nav nav-pills"  *ngIf="pages">
            <li *ngFor="let p of pages; let i=index"> 
                <button class="btn btn-dark"><a (click)="onPageAffaire(i)">{{i}}</a></button>
            </li>
        </ul>
      </div>
    </div>
</div>


<!--Modification affaires-->
<div class="container" *ngIf="update == 1">
    <div class="modal-header">
        <h4 class="modal-title pull-left"></h4>
    </div>

    <div class="modal-body">
      <form class="form-horizontal" [formGroup]="AffaireUpdateForm" (ngSubmit)="onUpdateAffaire()">
        <fieldset>
            <!-- Form Name -->
            <legend>Modifier l'affaire</legend>
            <!--Numéro-->
            <div class="form-group">
                <label class="col-md-4 control-label" >Numéro</label>  
                <div class="col-md-4">
                <input  type="text" formControlName="numero" class="form-control input-md" required  ngModel>
                <span class="help-block"> </span>
                </div>
            </div>
            <!--Date début affaire-->
            <div class="form-group">
                <label class="col-md-4 control-label" >Date Début Affaire</label>  
                <div class="col-md-4">
                <input type="date" formControlName="dateDebutAffaire" class="form-control input-md" required  ngModel>
                <span class="help-block"> </span>
                </div>
            </div>
            <!--Juridiction-->
            <div class="form-group">
                <label class="col-md-4 control-label" >Juridiction</label>  
                <div class="col-md-4">
                <select formControlName ="juridiction" class="form-control"  >
                    <option *ngFor="let j of juridictions._embedded.juridictions" [ngValue]="j" >{{j.denomination}</option>
                </select>
                <span class="help-block"> </span>  
                </div>
            </div>
            <!--Chefs de Poursuite-->
            <div class="form-group" formArrayName="chefPoursuites">
                <label class="col-md-4 control-label" >Chefs de poursuite</label>
                <div class="col-md-4">
                    <select formControlName ="chefPoursuite" class="form-control"  >
                        <option *ngFor="let cp of chefpoursuites._embedded.chefpoursuites" [ngValue]="cp" >
                            {{dateInfraction}} {{cp.lieuInfraction.maison}}
                        </option>
                    </select>
                </div>  
                <div class="col-md-5" *ngIf="AffaireForm.value.chefPoursuite != null">
                        <b>Date Infraction</b> : {{AffaireUpdateForm .value.chefPoursuite.dateInfraction}}<br>
                        <b>Lieu Infraction</b> : {{AffaireUpdateForm .value.chefPoursuite.lieuInfraction.maison}}<br>
                        <b>Détails</b> : {{AffaireUpdateForm .value.chefPoursuite.details}}
                </div>
            </div>
            <!-- Button -->
            <div class="form-group">
                <label class="col-md-4 control-label" > </label>
                <div class="col-md-8">
                <button name="button1id" class="btn btn-success" type="submit" ><span class="glyphicon glyphicon-ok-circle"></span></button>
                </div>
            </div>
        </fieldset>
        </form>
    </div>
</div>