<app-header></app-header>
<div class="container">
  <div class="panel panel-default">
  <div class="panel-heading">Pays
    <form class="navbar-form navbar-right" #f="ngForm" (ngSubmit)="onSearch(f.value)">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="suivant nom" name="keyword" ngModel required>
      </div>
      <button type="submit" class="btn btn-primary" ><span class="glyphicon glyphicon-search"></span></button>
      <button type="button" class="btn btn-default navbar-right" tooltip="Ajouter un nouveau pays" (click)="openModal(template)">
        <span class="glyphicon glyphicon-plus"></span>
      </button>
    </form>
  </div>
  
  <div class="panel-body">
      <table class="table table-striped custab" *ngIf="payses">
      <thead>
          <tr>
            <th>Nom</th>
            <th>Indicatif</th>
          </tr>
      </thead>
        <tr *ngFor="let p of payses._embedded.payses">
          <td>{{p.nom}}</td>
          <td>{{p.indicatif}}</td>
          <td class="text-center"><a class='btn btn-info btn-xs' (click)="onEdit(p)"><span class="glyphicon glyphicon-edit"></span></a><a (click)="onDelete(p)" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span></a></td>
        </tr>
      </table>
      <ul class="nav nav-pills"  *ngIf="pages">
        <li *ngFor="let p of pages; let i=index"> 
          <button class="btn btn-dark"><a (click)="onPagePays(i)">{{i}}</a></button>
        </li>
      </ul>
    </div>
  </div>
</div>


<div class="container" *ngIf="update == 1">
  <div class="modal-header">
      <h4 class="modal-title pull-left"></h4>
  </div>

  <div class="modal-body">
    <form class="form-horizontal" #f="ngForm" (ngSubmit)="onUpdatePays(f.value)">
      <fieldset>
      <!-- Form Name -->
      <legend>Modifier le pays</legend>
      <!--Nom-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="textinput">Nom</label>  
        <div class="col-md-4">
        <input name="libele" type="text" class="form-control input-md" required="" ngModel [(ngModel)]="pays.nom">
        <span class="help-block"> </span>
        </div>
    </div>
    <!--Indicatif-->
    <div class="form-group">
        <label class="col-md-4 control-label" for="textinput">Indicatif</label>  
        <div class="col-md-4">
        <input name="categorie" type="number" class="form-control input-md" required="" ngModel [(ngModel)]="pays.indicatif">
        <span class="help-block"> </span>
        </div>
    </div>
    <!-- Button -->
    <div  class="form-group">
        <label class="col-md-4 control-label"> </label>
        <button name="button1id" class="btn btn-success" type="submit"><span class="glyphicon glyphicon-ok-circle"></span></button>
    </div>
      </fieldset>
      </form>
  </div>
</div>  


<ng-template #template>
  <div class="modal-header">
      <h4 class="modal-title pull-left"></h4>
      <button type="button" class="close pull-right" 
              aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
  </div>
  
  <div class="modal-body">
    <form class="form-horizontal" #f="ngForm" (ngSubmit)="onSavePays(f.value)">
      <fieldset>
      <!-- Form Name -->
      <legend>Nouveau Pays</legend>
      <!--Code-->
      <input *ngIf="vue" name="code" type="text" class="form-control input-md" >
      <!--Nom-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="textinput">Nom</label>  
        <div class="col-md-4">
        <input name="nom" type="text" class="form-control input-md" required ngModel>
        <span class="help-block"> </span>  
        </div>
      </div>
      <!--Indicatif-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="textinput">Indicatif</label>  
        <div class="col-md-4">
        <input name="indicatif" type="number" class="form-control input-md" required ngModel>
        <span class="help-block"> </span>  
        </div>
      </div>
      <!--Button -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="button1id"> </label>
        <div class="col-md-8">
          <button name="button1id" class="btn btn-success" type="submit" [disabled]="f.invalid"><span class="glyphicon glyphicon-ok-circle"></span></button>
        </div>
      </div>
      </fieldset>
      </form>
  </div>
</ng-template>