<div class="container" style="margin-top: 150px">
    <form class="form-horizontal" #f="ngForm" (ngSubmit)="onConnect(f.value)">
        <fieldset>
        
        <legend style="text-align: center">Connexion</legend>
        
        <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">Login</label>  
            <div class="col-md-4">
            <input name="login" type="text" class="form-control input-md" required ngModel>
            <span class="help-block"> </span>  
            </div>
        </div>
        
        <div class="form-group" style="text-align: center">
          <label class="col-md-4 control-label" for="textinput">Mot de passe</label>  
          <div class="col-md-4">
          <input name="passe" type="password" class="form-control input-md" required ngModel>
          <small id="emailHelp" class="form-text text-muted">Votre mail et votre mot de passe restent confidentiels.</small>
          </div>
        </div>
        
        <div class="form-group" style="text-align: center">
            <button type="submit" class="btn btn-primary " style="text-align: left" [disabled]="f.invalid">Soumettre</button>
        </div>
        </fieldset>
    </form>
</div>