<div class="container" >
        <div class="modal-body">
            <form class="form-horizontal" [formGroup]="CondaForm" (ngSubmit)="onSave()">
                    <legend>Ajouter une condamnation</legend>
                    <!-- affaire -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" >Affaire</label>  
                        <div class="col-md-4">
                        <select formControlName = "affaire" class="form-control" > 
                            <option *ngFor="let a of affaires._embedded.affaires" [ngValue]="a" > {{a.numero}} </option>
                        </select>
                        <span class="help-block"> </span>  
                        </div> 
                    </div>
                    <!-- condamné -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" >Condamné</label>  
                        <div class="col-md-4">
                                <select formControlName ="condamne" [(ngModel)]="u" class="form-control" required >
                                    <ng-container *ngFor="let p of personnes._embedded.personnes">
                                        <ng-container *ngIf="p.fonction.libele === 'Justiciable'">
                                            <option [ngValue]="p" > 
                                                {{p.nom}} {{p.prenoms}}
                                            </option>
                                        </ng-container>
                                    </ng-container>
                                </select>
                        <span class="help-block"> </span>  
                        </div>
                    </div>
                    <!-- bénéficiaire -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" >Bénéficiaire/Représentant</label>  
                        <div class="col-md-4">
                                <select formControlName ="beneficiaire" [(ngModel)]="p" class="form-control" >
                                    <ng-container *ngFor="let p of personnes._embedded.personnes">
                                        <ng-container *ngIf="p.fonction.libele === 'Justiciable'">
                                            <option [ngValue]="null">aucun</option>
                                            <option [ngValue]="p" > 
                                                {{p.nom}} {{p.prenoms}}
                                            </option>
                                        </ng-container>
                                    </ng-container>
                                </select>
                        <span class="help-block"> </span>  
                        </div>
                    </div>
                    <!-- date signification de la décision --> 
                    <div class="form-group">
                        <label class="col-md-4 control-label" >Date de signification de la décision</label>  
                        <div class="col-md-4"> 
                        <input type="date" class="form-control"  formControlName = "dateSignificationDecision" required>
                        <span class="help-block"> </span>  
                        </div>
                    </div>
                    <!-- nature signification de la décision -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" >Nature de la signification de la décision</label>  
                        <div class="col-md-4">
                        <input formControlName = "natureSignificationDecision" type="text" class="form-control input-md" required >
                        <span class="help-block"> </span>  
                        </div>
                    </div>
                    <!-- peines -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" >Peines</label>
                        <div class="col-md-1">
                            <button class="btn btn-default " type="button" (click)="openPeineModal(peine)" tooltip = "Ajouter une peine">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </div>  
                        <div class="col-md-3" *ngIf="PeinesTable.value.peines != null">
                            <div *ngFor="let p of PeinesTable.value.peines">
                                <b>Type de peine</b> : {{p.typePeine.libele}}<br>
                                <b>Durée</b> : {{p.duree}}<br> mois
                                <b>Montant</b> : {{p.montant}}<br>
                                <hr>
                            </div>
                        </div>
                    </div>
                    <!-- boutons -->
                    <br>
                    <div  class="form-group">
                        <label class="col-md-4 control-label"> </label>
                        <div class="col-md-4">
                            <button class="btn btn-success pull-left" type="submit" ><span class="glyphicon glyphicon-ok-circle"></span></button> 
                            <a routerLink="../accueil"><button class="btn btn-default pull-right"><span class="glyphicon glyphicon-arrow-left"></span></button></a>
                        </div>
                    </div>
            </form>
        </div>
    </div>  
<!-- pop up nouvelle peine -->
<ng-template #peine>
    <div class="modal-header">
        <h4 class="modal-title pull-left"></h4>
        <button type="button" class="close pull-right" 
                aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    
    <div class="modal-body">
        <form class="form-horizontal" #f="ngForm"  (ngSubmit)="onGetPeine(f.value)">
            <fieldset>
            <!-- Form Name -->
            <legend>Nouvelle Peine</legend>
            <!-- Code -->
            <input *ngIf="vue" name="code" type="text" class="form-control input-md" ngModel>
            <!-- Duree -->
            <input *ngIf="vue" name="duree" type="number" class="form-control input-md" ngModel>
            <!-- Condamnation -->
            <select name ="condamnation" class="form-control" *ngIf="vue" ngModel>
                <option [ngValue]="null">aucun</option>
            </select>
            <!--Type de peine-->
            <div class="form-group" >
                <label class="col-md-4 control-label">Type de peine</label>  
                <div class="col-md-4">
                    <select name = "typePeine" class="form-control" required ngModel>
                        <option *ngFor="let tp of typePeines._embedded.typePeines" [ngValue]="tp">
                            {{tp.libele}}
                        </option>
                    </select>         
                <span class="help-block"> </span>  
                </div>
            </div>
            <!--Montant-->
            <div class="form-group">
                <label class="col-md-4 control-label">Montant</label>  
                <div class="col-md-4">
                <input name = "montant" type="number" min="0" class="form-control input-md" ngModel>
                <span class="help-block"> </span>
                </div>
            </div>
            <!--Duree-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="textinput">Durée</label>  
                <div class="col-md-2">
                <input name ="ans" type="number" class="form-control input-md" ngModel>
                <span class="help-block"> </span> ans
                </div>
                <div class="col-md-2">
                    <input name ="mois" type="number" class="form-control input-md"  ngModel>
                    <span class="help-block"> </span> mois
                </div>
            </div>
            <!-- Button -->
            <div class="form-group">
                <label class="col-md-4 control-label" > </label>
                <div class="col-md-8">
                    <button class="btn btn-success" type="submit" ><span class="glyphicon glyphicon-ok-circle"></span></button>
                </div>
            </div>
            </fieldset>
        </form>
    </div>
</ng-template> 