<app-header></app-header>
<!-- affichage des peines -->
<div class="container">
        <div class="panel panel-default">
        <div class="panel-heading">Peines
          <form class="navbar-form navbar-right" #f="ngForm" (ngSubmit)="onSearch(f.value)">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="suivant ..." name="keyword" ngModel required>
            </div>
            <button type="submit" class="btn btn-primary" ><span class="glyphicon glyphicon-search"></span></button>
            <button type="button" class="btn btn-default navbar-right" tooltip="Ajouter une nouvelle peine" (click)="openModal(template)">
              <span class="glyphicon glyphicon-plus"></span>
            </button>
          </form>
        </div>
        
        <div class="panel-body">
            <table class="table table-striped custab" *ngIf="peines">
            <thead>
                <tr>
                    <th>Condamantion</th>
                    <th>Type de peine</th>
                    <th>Montant</th>
                    <th>Durée</th>
                </tr>
            </thead>
              <tr *ngFor="let p of peines._embedded.peines">
                <td *ngIf="p.condamnation">{{p.condamnation.dateSignificationDecision}}</td>
                <td *ngIf="p.typePeine">{{p.typePeine.libele}}</td>
                <td *ngIf="p.montant">{{p.montant}}</td> <td *ngIf="!p.montant"> </td>
                <td *ngIf="p.duree">{{(p.duree/12)-(p.duree/12)%1}} ans <br> {{ p.duree % 12 }} mois</td> <td *ngIf="!p.duree"> </td>
                <td class="text-center"><a class='btn btn-info btn-xs' (click)="onEdit(p)"><span class="glyphicon glyphicon-edit"></span></a><a (click)="onDelete(p)" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span></a></td>
              </tr> 
            </table>
            <ul class="nav nav-pills"  *ngIf="pages">
                <li *ngFor="let p of pages; let i=index"> 
                    <button class="btn btn-dark"><a (click)="onPagePeine(i)">{{i}}</a></button>
                </li>
            </ul>
          </div>
        </div>
    </div>
    
    <!-- modification peine -->
    <div class="container" *ngIf="update == 1">
        <div class="modal-header">
            <h4 class="modal-title pull-left"></h4>
        </div>
    
        <div class="modal-body">
          <form class="form-horizontal" #f="ngForm" (ngSubmit)="onUpdatePeine(f.value)">
            <fieldset>
                <!-- Form Name -->
                <legend>Modifier la peine</legend>
                <!-- condamnation -->
                <div class="form-group">
                    <label class="col-md-4 control-label" > Condamantion </label>
                    <div class="col-md-4">
                        <select name="condamnation" class="form-control"  ngModel [(ngModel)]="condaSelected">
                            <option *ngFor="let c of condamnations._embedded.condamnations" [ngValue]="c" > {{c.dateSignificationDecision}} {{c.numeroEcrou}}</option>
                        </select> 
                    <span class="help-block"> </span>
                    </div>
                </div>
                <!-- Type peine -->
                <div class="form-group">
                    <label class="col-md-4 control-label" > Type peine </label>
                    <div class="col-md-4">
                        <select name="typePeine" class="form-control"  ngModel [(ngModel)]="typePeineSelected">
                            <option *ngFor="let tp of typePeines._embedded.typePeines" [ngValue]="tp" > {{tp.libele}}</option>
                        </select>                    
                    <span class="help-block"> </span>
                    </div>
                </div>
                <!--Montant-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="textinput">Montant</label>  
                    <div class="col-md-4">
                    <input name="montant" type="number" class="form-control input-md"  ngModel [(ngModel)]="peine.montant">
                    <span class="help-block"> </span>
                    </div>
                </div>
                <!--Durée-->
                <input *ngIf="vue" name="duree" type="number" class="form-control input-md" >
                <div class="form-group">
                    <label class="col-md-4 control-label" for="textinput">Durée</label>  
                    <div class="col-md-2">
                        <input name="ans" type="number" class="form-control input-md"  ngModel>
                        <span class="help-block"> </span> {{(peine.duree/12)-(peine.duree/12)%1}} ans 
                    </div>
                    <div class="col-md-2">
                        <input name="mois" type="number" class="form-control input-md"  ngModel>
                        <span class="help-block"> </span>  {{ peine.duree % 12 }} mois
                    </div>
                </div> 
                <!-- Button -->
                <div class="form-group">
                    <label class="col-md-4 control-label" > </label>
                    <div class="col-md-8">
                    <button name="button1id" class="btn btn-success" type="submit" [disabled]="f.invalid"><span class="glyphicon glyphicon-ok-circle"></span></button>
                    </div>
                </div>
            </fieldset>
            </form>
        </div>
    </div>  
    


    <!-- ajout peine -->
      <ng-template #template>
        <div class="modal-header">
            <h4 class="modal-title pull-left"></h4>
            <button type="button" class="close pull-right" 
                    aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span> 
        </button>
        </div>
        
        <div class="modal-body">
          <form class="form-horizontal" #f="ngForm" (ngSubmit)="onSavePeine(f.value)">
            <fieldset>
            <!-- Form Name -->
            <legend>Nouvelle Peine</legend>
            <!--Code-->
            <input *ngIf="vue" name="code" type="text" class="form-control input-md" >
            <!-- Type peine -->
            <div class="form-group">
                <label class="col-md-4 control-label" > Type peine </label>
                <div class="col-md-4">
                    <select name="typePeine" class="form-control"  ngModel>
                        <option *ngFor="let tp of typePeines._embedded.typePeines" [ngValue]="tp" > {{tp.libele}}</option>
                    </select>                    
                <span class="help-block"> </span>
                </div>
            </div>
            <!-- condamnation -->
            <div class="form-group">
                <label class="col-md-4 control-label" > Condamantion </label>
                <div class="col-md-4">
                    <select name="condamnation" class="form-control"  ngModel>
                        <option *ngFor="let c of condamnations._embedded.condamnations" [ngValue]="c" > {{c.dateSignificationDecision}} {{c.numeroEcrou}}</option>
                    </select> 
                <span class="help-block"> </span>
                </div>
            </div>
            <!--Montant-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="textinput">Montant</label>  
                <div class="col-md-4">
                <input name="montant" type="number" class="form-control input-md"  ngModel>
                <span class="help-block"> </span>
                </div>
            </div>
            <!--Durée-->
            <input *ngIf="vue" name="duree" type="number" class="form-control input-md" >
            <div class="form-group">
                <label class="col-md-4 control-label" for="textinput">Durée</label>  
                <div class="col-md-2">
                <input name="ans" type="number" class="form-control input-md"  ngModel>
                <span class="help-block"> </span> ans
                </div>
                <div class="col-md-2">
                    <input name="mois" type="number" class="form-control input-md"  ngModel>
                    <span class="help-block"> </span> mois
                </div>
            </div> 
            <!-- bouton -->
            <div class="form-group">
                <label class="col-md-4 control-label" > </label>
                <div class="col-md-8">
                  <button class="btn btn-success" type="submit" [disabled]="f.invalid"><span class="glyphicon glyphicon-ok-circle"></span></button>
                </div>
            </div>
            </fieldset>
            </form>
        </div>
      </ng-template>
    