<app-header></app-header>

<!--Ajout nouveau chef de poursuite-->
<div class="container col-md-5" >
    <div class="modal-body">
            <form class="form-horizontal" [formGroup]="ChefPoursuiteForm" (ngSubmit)="onSaveChefPoursuite()">
                <legend>Ajouter un chef de poursuite</legend> 
                <!--date infraction-->
                <div class="form-group">
                    <label class="col-md-4 control-label" >Date Infraction</label>  
                    <div class="col-md-6">
                    <input type="date" class="form-control"  formControlName = "dateInfraction" required>
                    <span class="help-block"> </span>  
                    </div>
                </div>
                <!--lieu infraction-->
                <div class="form-group">
                    <label class="col-md-4 control-label" >Lieu Infraction</label>  
                    <div class="col-md-1">
                        <button type="button" class="btn btn-default " tooltip="Ajouter le lieu de l'infraction" (click)="openLieuInfractionModal(lieuInfraction)">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    <span class="help-block"> </span>  
                    </div>
                    <div class="col-md-4" *ngIf="ChefPoursuiteForm.value.lieuInfraction != null">
                            <b>Maison</b> : {{ChefPoursuiteForm.value.lieuInfraction.maison}}<br>
                            <b>Téléphone</b> : {{ChefPoursuiteForm.value.lieuInfraction.telephone}}<br>
                            <b>Code Postal</b> : {{ChefPoursuiteForm.value.lieuInfraction.codePostal}}<br>
                            <b>Rue</b> : {{ChefPoursuiteForm.value.lieuInfraction.rue}}<br>
                            <b>Unité Administrative</b> : {{ChefPoursuiteForm.value.lieuInfraction.uniteAdministrative.denomination}}<br>
                    </div>
                </div>
                <!--infraction-->
                <div class="form-group" >
                    <label class="col-md-4 control-label" >Infraction</label>
                    <div class="col-md-6">
                        <select  formControlName = "infraction" class="form-control" required>
                        <option *ngFor="let i of infractions._embedded.infractions" [ngValue]="i">
                            {{i.libele}} {{i.categorie}} {{i.famille}}
                            </option>
                        </select>
                    </div>  
                    <div class="col-md-5 col-lg-offset-4" *ngIf="ChefPoursuiteForm.value.infraction != null">
                        <b>Libelé</b> : {{ChefPoursuiteForm.value.infraction.libele}}<br>
                        <b>Catégorie</b> : {{ChefPoursuiteForm.value.infraction.categorie}}<br>
                        <b>Famille</b> : {{ChefPoursuiteForm.value.infraction.famille}}<br>
                    </div>
                </div>
                <!-- Détails -->
                <div class  ="form-group">
                    <label class="col-md-4 control-label" >Détails</label>  
                    <div class="col-md-6">
                    <textarea class="form-control" formControlName = "details" id="details" cols="5" rows="2"></textarea>
                    <!--  <input type="textarea" class="form-control"  formControlName = "details" required>  -->
                    <span class="help-block"> </span>  
                    </div>
                </div>
                <!--procureur-->
                <div class="form-group">
                    <label class="col-md-4 control-label" >Procureur</label>  
                    <div class="col-md-6">
                    <select formControlName ="procureur" [(ngModel)]="procureurSelected" class="form-control" required > 
                        <ng-container *ngFor="let p of personnes._embedded.personnes">
                            <ng-container *ngIf="p.fonction === 'procureur'">
                                <option [ngValue]="p" > 
                                    {{p.nom}} {{p.prenoms}}
                                </option>
                            </ng-container>
                        </ng-container>
                    </select>
                    <span class="help-block"> </span>   
                    </div>
                </div>
                <!--qualité-->
                <div class="form-group">
                    <label class="col-md-4 control-label" >Qualité</label>  
                    <div class="col-md-6">
                    <select formControlName ="qualite" [(ngModel)]="qualiteSelected" class="form-control" required >
                        <option *ngFor="let q of qualites._embedded.qualites" [ngValue]="q" > {{q.libele}} </option>
                    </select>
                    <span class="help-block"> </span>  
                    </div>
                </div>
                <br>
                <div  class="form-group">
                    <label class="col-md-4 control-label"> </label>
                    <div class="col-md-6">
                        <button class="btn btn-success pull-left" type="submit" ><span class="glyphicon glyphicon-ok-circle"></span></button> 
                        <button class="btn btn-default col-lg-offset-1" type="reset"><span class="glyphicon glyphicon-remove"></span></button> 
                    </div>
                </div>
            </form>
    </div>
</div>  


<!--Pop up lieu d'infraction-->
<ng-template #lieuInfraction>
    <div class="modal-header">
        <h4 class="modal-title pull-left"></h4>
        <button type="button" class="close pull-right" 
                aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    
    <div class="modal-body">
        <form class="form-horizontal" #LieuInfraction="ngForm" (ngSubmit)="onGetLieuInfraction(LieuInfraction.value)">
          <fieldset>
          <!-- Form Name -->
          <legend>Lieu d'Infraction</legend>
          <!--Code-->
          <input *ngIf="vue" name="code" type="text" class="form-control input-md" >
          <!--Maison-->
          <div class="form-group">
              <label class="col-md-4 control-label" for="textinput">Maison</label>  
              <div class="col-md-4">
              <input name="maison" type="text" class="form-control input-md" required ngModel>
              <span class="help-block"> </span>
              </div>
          </div>
          <!--Téléphone-->
          <div class="form-group">
              <label class="col-md-4 control-label" for="textinput">Téléphone</label>  
              <div class="col-md-4">
              <input name="telephone" type="tel" class="form-control input-md" required ngModel>
              <span class="help-block"> </span>
              </div>
          </div>
          <!--Email-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">Téléphone</label>  
            <div class="col-md-4">
            <input name="email" type="email" class="form-control input-md" ngModel>
            <span class="help-block"> </span>
            </div>
        </div>
          <!--Code postal-->
          <div class="form-group">
              <label class="col-md-4 control-label" for="textinput">Code postal</label>  
              <div class="col-md-4">
              <input name="codePostal" type="text" class="form-control input-md" ngModel>
              <span class="help-block"> </span>  
              </div>
          </div>
          <!--Rue-->
          <div class="form-group">
              <label class="col-md-4 control-label" for="textinput">Rue</label>  
              <div class="col-md-4">
              <input name="rue" type="text" class="form-control input-md" ngModel>
              <span class="help-block"> </span>
              </div>
          </div>
          <!--Unité Administrative-->
          <div class="form-group" >
              <label class="col-md-4 control-label">Unité Administrative</label>  
              <div class="col-md-4">
                  <select name="uniteAdministrative" [(ngModel)]='uaSelected' class="form-control">
                      <option *ngFor="let u of uniteAdministratives._embedded.uniteAdministratives" [ngValue]="u">
                          {{u.denomination}}
                      </option>
                  </select>         
              <span class="help-block"> </span>  
              </div>
          </div>
          <!-- Button -->
          <div class="form-group">
              <label class="col-md-4 control-label" > </label>
              <div class="col-md-8">
                <button class="btn btn-success" type="submit" [disabled]="LieuInfraction.invalid"><span class="glyphicon glyphicon-ok-circle"></span></button>
              </div>
          </div>
          </fieldset>
          </form>
      </div>
</ng-template>




<!--Affichage chefs de poursuite-->
<div class="container col-md-7">
    <div class="panel panel-default">
    <div class="panel-heading">Chefs de poursuite
      <form class="navbar-form navbar-right" #f="ngForm" (ngSubmit)="onSearch(f.value)">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="suivant ..." name="keyword" ngModel required>
        </div>
        <button type="submit" class="btn btn-primary" ><span class="glyphicon glyphicon-search"></span></button>
      </form>
    </div>
    
    <div class="panel-body">
        <table class="table table-striped custab" *ngIf="chefPoursuites">
        <thead>
            <tr>
              <th>Date Infraction</th>
              <th>Lieu Infraction</th>
              <th>Infraction</th>
              <th>Détails</th>
              <th>Procureur</th>
              <th>Qualité</th>
            </tr>
        </thead>
          <tr *ngFor="let cp of chefPoursuites._embedded.chefPoursuites">
            <td>{{cp.dateInfraction}}</td>
            <td>{{cp.lieuInfraction.maison}}</td>
            <td *ngIf="cp.infraction"> {{cp.infraction.libele}} </td>
            <td>{{cp.details}}</td>
            <td *ngIf="cp.procureur"> {{cp.procureur.nom}} <br> {{cp.procureur.prenoms}}</td>
            <td *ngIf="cp.qualite">{{cp.qualite.libele}}</td>
            <td class="text-center"><a class='btn btn-info btn-xs' (click)="onEdit(cp)"><span class="glyphicon glyphicon-edit"></span></a><a (click)="onDelete(cp)" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span></a></td>
          </tr>
        </table>
        <ul class="nav nav-pills"  *ngIf="pages">
          <li *ngFor="let p of pages; let i=index"> 
            <button class="btn btn-dark"><a (click)="onPageChefPoursuite(i)">{{i}}</a></button>
          </li>
        </ul>
      </div>
    </div>
</div>



<!--Modification chefs de poursuite-->
<div class="container" *ngIf="update == 1">
    <div class="modal-header">
        <h4 class="modal-title pull-left"></h4>
    </div>

    <div class="modal-body">
        <form class="form-horizontal" [formGroup]="ChefPoursuiteUpdateForm" (ngSubmit)="onUpdateChefPoursuite()">
            <legend>Ajouter un chef de poursuite</legend> 
            <!--date infraction-->
            <div class="form-group">
                <label class="col-md-4 control-label" >Date Infraction</label>  
                <div class="col-md-6">
                <input type="date" class="form-control"  formControlName = "dateInfraction" required>
                <span class="help-block"> </span>  
                </div>
            </div>
            <!--lieu infraction-->
            <div class="form-group">
                <label class="col-md-4 control-label" >Lieu Infraction</label>  
                <div class="col-md-1">
                    <button type="button" class="btn btn-default " tooltip="Ajouter le lieu de l'infraction" (click)="openLieuInfractionModifModal(lieuInfractionModif)">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                <span class="help-block"> </span>  
                </div>
                <div class="col-md-4 col-lg-offset-4" *ngIf="ChefPoursuiteForm.value.lieuInfraction != null">
                        <b>Maison</b> : {{ChefPoursuiteUpdateForm.value.lieuInfraction.maison}}<br>
                        <b>Téléphone</b> : {{ChefPoursuiteUpdateForm.value.lieuInfraction.telephone}}<br>
                        <b>Code Postal</b> : {{ChefPoursuiteUpdateForm.value.lieuInfraction.codePostal}}<br>
                        <b>Rue</b> : {{ChefPoursuiteUpdateForm.value.lieuInfraction.rue}}<br>
                        <b>Unité Administrative</b> : {{ChefPoursuiteUpdateForm.value.lieuInfraction.uniteAdministrative.denomination}}<br>
                </div>
            </div>
            <!--infraction-->
            <div class="form-group" >
            <label class="col-md-4 control-label" >Infraction</label>
            <div class="col-md-6">
                <select  formControlName = "infraction" class="form-control" required>
                    <option *ngFor="let i of infractions._embedded.infractions" [ngValue]="i">
                        {{i.libele}} {{i.categorie}} {{i.famille}}
                    </option>
                </select>
                </div>  
                <div class="col-md-5 col-lg-offset-4" *ngIf="ChefPoursuiteUpdateForm.value.infraction != null">
                    <b>Libelé</b> : {{ChefPoursuiteUpdateForm.value.infraction.libele}}<br>
                    <b>Catégorie</b> : {{ChefPoursuiteUpdateForm.value.infraction.categorie}}<br>
                    <b>Famille</b> : {{ChefPoursuiteUpdateForm.value.infraction.famille}}<br>
                </div>
            </div>
            <!-- Détails -->
            <div class="form-group">
                <label class="col-md-4 control-label" >Détails</label>  
                <div class="col-md-6">
                <input type="textarea" class="form-control"  formControlName = "details" required>
                <span class="help-block"> </span>  
                </div>
            </div>
            <!--procureur-->
            <div class="form-group">
                <label class="col-md-4 control-label" >Procureur</label>  
                <div class="col-md-4">
                <select formControlName ="procureur" [(ngModel)]="chefPoursuite.procureur" class="form-control" required >
                    <ng-container *ngFor="let p of personnes._embedded.personnes">
                        <ng-container *ngIf="p.fonction === 'procureur'">
                            <option [ngValue]="p" > 
                                {{p.nom}} {{p.prenoms}}
                            </option>
                        </ng-container>
                    </ng-container>
                </select>
                <span class="help-block"> </span>   
                </div>
            </div>
            <!--qualité-->
            <div class="form-group">
                <label class="col-md-4 control-label" >Qualité</label>  
                <div class="col-md-6">
                <select formControlName ="qualite" [(ngModel)]="chefPoursuite.qualite" class="form-control" required >
                    <option *ngFor="let q of qualites._embedded.qualites" [ngValue]="q" > {{q.libele}} </option>
                </select>
                <span class="help-block"> </span>  
                </div>
            </div>
            
            <br>
            <div  class="form-group">
                <label class="col-md-4 control-label"> </label>
                <div class="col-md-6">
                    <button class="btn btn-success pull-left" type="submit" ><span class="glyphicon glyphicon-ok-circle"></span></button> 
                    <button class="btn btn-default col-lg-offset-1" type="reset"><span class="glyphicon glyphicon-remove"></span></button> 
                </div>
            </div>
        </form>
    </div>
</div>

<!--Pop up modification lieu d'infraction-->
<ng-template #lieuInfractionModif>
    <div class="modal-header">
        <h4 class="modal-title pull-left"></h4>
        <button type="button" class="close pull-right" 
                aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    
    <div class="modal-body">
        <form class="form-horizontal" #LieuInfractionModif="ngForm" (ngSubmit)="onGetLieuInfractionModif(LieuInfractionModif.value)">
          <fieldset>
          <!-- Form Name -->
          <legend>Lieu d'Infraction</legend>
          <!--Code-->
          <input *ngIf="vue" name="code" type="text" class="form-control input-md" >
          <!--Maison-->
          <div class="form-group">
              <label class="col-md-4 control-label" for="textinput">Maison</label>  
              <div class="col-md-4">
              <input name="maison" type="text" class="form-control input-md" required ngModel>
              <span class="help-block"> </span>
              </div>
          </div>
          <!--Téléphone-->
          <div class="form-group">
              <label class="col-md-4 control-label" for="textinput">Téléphone</label>  
              <div class="col-md-4">
              <input name="telephone" type="tel" class="form-control input-md" required ngModel>
              <span class="help-block"> </span>
              </div>
          </div>
          <!--Email-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">Téléphone</label>  
            <div class="col-md-4">
            <input name="email" type="email" class="form-control input-md" ngModel>
            <span class="help-block"> </span>
            </div>
        </div>
          <!--Code postal-->
          <div class="form-group">
              <label class="col-md-4 control-label" for="textinput">Code postal</label>  
              <div class="col-md-4">
              <input name="codePostal" type="text" class="form-control input-md" ngModel>
              <span class="help-block"> </span>  
              </div>
          </div>
          <!--Rue-->
          <div class="form-group">
              <label class="col-md-4 control-label" for="textinput">Rue</label>  
              <div class="col-md-4">
              <input name="rue" type="text" class="form-control input-md" ngModel>
              <span class="help-block"> </span>
              </div>
          </div>
          <!--Unité Administrative-->
          <div class="form-group" >
              <label class="col-md-4 control-label">Unité Administrative</label>  
              <div class="col-md-4">
                  <select name="uniteAdministrative" [(ngModel)]='uaSelected' class="form-control">
                      <option *ngFor="let u of uniteAdministratives._embedded.uniteAdministratives" [ngValue]="u">
                          {{u.denomination}}
                      </option>
                  </select>         
              <span class="help-block"> </span>  
              </div>
          </div>
          <!-- Button -->
          <div class="form-group">
              <label class="col-md-4 control-label" > </label>
              <div class="col-md-8">
                <button class="btn btn-success" type="submit" [disabled]="LieuInfractionModif.invalid"><span class="glyphicon glyphicon-ok-circle"></span></button>
              </div>
          </div>
          </fieldset>
          </form>
      </div>
</ng-template>