<app-header></app-header> 
<!-- affichage des exécutions -->
<div class="container">
    <div class="panel panel-default">
    <div class="panel-heading">Exécutions
      <form class="navbar-form navbar-right" #f="ngForm" (ngSubmit)="onSearch(f.value)">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="suivant ..." name="keyword" ngModel required>
        </div>
        <button type="submit" class="btn btn-primary" ><span class="glyphicon glyphicon-search"></span></button>
        <button type="button" class="btn btn-default navbar-right" tooltip="Ajouter une nouvelle exécution" (click)="openModal(template)">
          <span class="glyphicon glyphicon-plus"></span>
        </button>
      </form>
    </div>
    
    <div class="panel-body">
        <table class="table table-striped custab" *ngIf="executions">
        <thead>
            <tr>
                <th>Date d'exécution</th>
                <th>Statut de l'exécution</th>
                <th>Date de fin de l'exécution</th>
                <th>Numéro Ecrou</th>
                <th>Maison d'arrêt</th>
                <th>Peine</th>
            </tr>
        </thead>
          <tr *ngFor="let e of executions._embedded.executions">
            <td>{{e.dateExecution}}</td>
            <td>{{e.statutExecution}}</td>
            <td>{{e.dateFinExecution}}</td>
            <td>{{e.numeroEcrou}}</td>
            <td>{{e.maisonArret.libele}}</td>
            <td>{{e.peine.typePeine.libele}}</td>
            <td class="text-center"><a class='btn btn-info btn-xs' (click)="onEdit(e)"><span class="glyphicon glyphicon-edit"></span></a><a (click)="onDelete(e)" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span></a></td>
          </tr>
        </table>
        <ul class="nav nav-pills"  *ngIf="pages">
            <li *ngFor="let p of pages; let i=index"> 
                <button class="btn btn-dark"><a (click)="onPageExecution(i)">{{i}}</a></button>
            </li>
        </ul>
      </div>
    </div>
</div>


<div class="container" *ngIf="update == 1">
    <div class="modal-header">
        <h4 class="modal-title pull-left"></h4>
    </div>

    <div class="modal-body">
      <form class="form-horizontal" #f="ngForm" (ngSubmit)="onUpdateExecution(f.value)">
        <fieldset>
            <!-- Form Name -->
            <legend>Modifier l'exécution</legend>
            <!--Peine-->
            <div class="form-group" >
                <label class="col-md-4 control-label">Peine</label>  
                <div class="col-md-4">
                    <select name="peine" [(ngModel)]='pSelected' class="form-control">
                        <option *ngFor="let p of peines._embedded.peines" [ngValue]="p">
                            {{p.typePeine.libele}} {{p.montnant}} {{p.duree}} ans
                        </option>
                    </select>         
                <span class="help-block"> </span>  
                </div>
            </div>
            <!--Lieu d'exécution-->
            <div class="form-group" >
                <label class="col-md-4 control-label">Lieu d'exécution</label>  
                <div class="col-md-4">
                    <select name="maisonArret" [(ngModel)]='maSelected' class="form-control">
                        <option *ngFor="let m of maisonArrets._embedded.maisonArrets" [ngValue]="m">
                            {{m.libele}}
                        </option>
                    </select>         
                <span class="help-block"> </span>  
                </div>
            </div>
            <!--Date exécution-->
            <div class="form-group">
                <label class="col-md-4 control-label">Date d'exécution</label>  
                <div class="col-md-4">
                <input name="dateExecution" type="date" class="form-control input-md" required ngModel [(ngModel)]="execution.dateExecution">
                <span class="help-block"> </span>
                </div>
            </div>
            <!-- Date fin exécution -->
            <div class="form-group">
                <label class="col-md-4 control-label"> Date de fin exécution</label>  
                <div class="col-md-4">
                <input name="dateFinExecution" type="date" class="form-control input-md" required ngModel [(ngModel)]="execution.dateFinExecution">
                <span class="help-block"> </span>
                </div>
            </div>
            <!--Statut exécution-->
            <div class="form-group" >
                <label class="col-md-4 control-label">Statut de l'exécution</label>  
                <div class="col-md-4">
                    <select name="statutExecution" [(ngModel)]='execution.statutExecution' class="form-control" >
                        <option value='nonpurgee'> non purgée </option> 
                        <option value='encours'> en cours </option>
                        <option value='purgee'> purgée </option>
                    </select>         
                <span class="help-block"> </span>  
                </div>
            </div>
            <!--Numéro écrou-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="textinput">Numéro écrou</label>  
                <div class="col-md-4">
                <input name="numeroEcrou" type="text" class="form-control input-md" required ngModel [(ngModel)]="execution.numeroEcrou">
                <span class="help-block"> </span>  
                </div>
            </div>
            <!-- Button -->
            <div class="form-group">
                <label class="col-md-4 control-label" > </label>
                <div class="col-md-8">
                <button class="btn btn-success" type="submit" [disabled]="f.invalid"><span class="glyphicon glyphicon-ok-circle"></span></button>
                </div>
            </div>
        </fieldset>
        </form>
    </div>
</div>  


  <ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left"></h4>
        <button type="button" class="close pull-right" 
                aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    
    <div class="modal-body">
      <form class="form-horizontal" #f="ngForm" (ngSubmit)="onSaveExecution(f.value)">
        <fieldset>
        <!-- Form Name -->
        <legend>Nouvelle Exécution</legend>
        <!--Code-->
        <input *ngIf="vue" name="code" type="text" class="form-control input-md" > 
        <!-- Date fin exécution -->
        <input *ngIf="vue" name="dateFinExecution" type="date" class="form-control input-md" >
        <!--Peine-->
        <div class="form-group" >
            <label class="col-md-4 control-label">Peine</label>  
            <div class="col-md-4">
                <select name="peine" [(ngModel)]='pSelected' class="form-control">
                    <option *ngFor="let p of peines._embedded.peines" [ngValue]="p">
                        {{p.typePeine.libele}}, {{p.montant}} FCFA, {{(p.duree/12)-(p.duree/12)%1}} ans, {{ p.duree % 12 }} mois
                    </option>
                </select>         
            <span class="help-block"> </span>  
            </div>
        </div>
        <!--Lieu d'exécution-->
        <div class="form-group" >
            <label class="col-md-4 control-label">Lieu d'exécution</label>  
            <div class="col-md-4">
                <select name="maisonArret" [(ngModel)]='maSelected' class="form-control">
                    <option *ngFor="let m of maisonArrets._embedded.maisonArrets" [ngValue]="m">
                        {{m.libele}}
                    </option>
                </select>         
            <span class="help-block"> </span>  
            </div>
        </div>
        <!--Date exécution-->
        <div class="form-group">
            <label class="col-md-4 control-label">Date exécution</label>  
            <div class="col-md-4">
            <input name="dateExecution" type="date" class="form-control input-md" required ngModel>
            <span class="help-block"> </span>
            </div>
        </div>
        <!--Statut exécution-->
        <div class="form-group" >
            <label class="col-md-4 control-label">Statut de l'exécution</label>  
            <div class="col-md-4">
                <select name="statutExecution" [(ngModel)]='uaSelected' class="form-control">
                    <option value='nonpurgee'> non purgée </option>
                    <option value='encours'> en cours </option>
                    <option value='purgee'> purgée </option>
                </select>         
            <span class="help-block"> </span>  
            </div>
        </div>
        <!--Numéro écrou-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">Numéro écrou</label>  
            <div class="col-md-4">
            <input name="numeroEcrou" type="text" class="form-control input-md" required ngModel>
            <span class="help-block"> </span>  
            </div>
        </div>
        <!-- Button -->
        <div class="form-group">
            <label class="col-md-4 control-label" > </label>
            <div class="col-md-8">
              <button class="btn btn-success" type="submit" [disabled]="f.invalid"><span class="glyphicon glyphicon-ok-circle"></span></button>
            </div>
        </div>
        </fieldset>
        </form>
    </div>
  </ng-template>