/* You can add global styles to this file, and also import other style files */
body{
    font-size: medium;
    font-weight: bold;/*
    background-image: url("logo.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 1300px 600px;*/
}
li{
    font-size: small;
}