<app-header></app-header>
<div class="container">
    <div class="panel panel-default">
    <div class="panel-heading">Infractions
      <form class="navbar-form navbar-right" #f="ngForm" (ngSubmit)="onSearch(f.value)">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="suivant libelé" name="keyword" ngModel required>
        </div>
        <button type="submit" class="btn btn-primary" ><span class="glyphicon glyphicon-search"></span></button>
        <button type="button" class="btn btn-default navbar-right" tooltip="Ajouter un nouvelle infraction" (click)="openModal(template)">
          <span class="glyphicon glyphicon-plus"></span>
        </button>
      </form>
    </div>
    
    <div class="panel-body">
        <table class="table table-striped custab" *ngIf="infractions">
        <thead>
            <tr>
                <th>Libelé</th>
                <th>Categorie</th>
                <th>Famille</th>
            </tr>
        </thead>
          <tr *ngFor="let i of infractions._embedded.infractions">
            <td>{{i.libele}}</td>
            <td>{{i.categorie}}</td>
            <td>{{i.famille}}</td>
            <td class="text-center"><a class='btn btn-info btn-xs' (click)="onEdit(i)"><span class="glyphicon glyphicon-edit"></span></a><a (click)="onDelete(i)" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span></a></td>
          </tr>
        </table>
        <ul class="nav nav-pills"  *ngIf="pages">
          <li *ngFor="let p of pages; let i=index"> 
            <button class="btn btn-dark"><a (click)="onPageInfraction(i)">{{i}}</a></button>
          </li>
        </ul>
      </div>
    </div>
</div>


<div class="container" *ngIf="update == 1">
    <div class="modal-header">
        <h4 class="modal-title pull-left"></h4>
    </div>

    <div class="modal-body">
      <form class="form-horizontal" #f="ngForm" (ngSubmit)="onUpdateInfraction(f.value)">
        <fieldset>
            <!-- Form Name -->
            <legend>Modifier l'infraction</legend>
            <!--Code-->
            <input *ngIf="vue" name="code" type="text" class="form-control input-md" >
            <!--Libelé-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="textinput">Libelé</label>  
                <div class="col-md-4">
                <input name="libele" type="text" class="form-control input-md" required="" ngModel [(ngModel)]="infraction.libele">
                <span class="help-block"> </span>
                </div>
            </div>
            <!--Categorie-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="textinput">Catégorie</label>  
                <div class="col-md-4">
                <input name="categorie" type="text" class="form-control input-md" required="" ngModel [(ngModel)]="infraction.categorie">
                <span class="help-block"> </span>
                </div>
            </div>
            <!--Famille-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="textinput">Famille</label>  
                <div class="col-md-4">
                <input name="famille" type="text" class="form-control input-md" required="" ngModel [(ngModel)]="infraction.famille">
                <span class="help-block"> </span>  
                </div>
            </div>
            <!-- Button -->
            <div class="form-group">
              <label class="col-md-4 control-label" > </label>
              <div class="col-md-8">
                <button id="button1id" name="button1id" class="btn btn-success" type="submit"><span class="glyphicon glyphicon-ok-circle"></span></button>
              </div>
            </div>
        </fieldset>
        </form>
    </div>
</div>  


  <ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left"></h4>
        <button type="button" class="close pull-right" 
                aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    
    <div class="modal-body">
      <form class="form-horizontal" #f="ngForm" (ngSubmit)="onSaveInfraction(f.value)">
        <fieldset>
        <!-- Form Name -->
        <legend>Nouvelle Infraction</legend>
        <!--Code-->
        <input *ngIf="vue" name="code" type="text" class="form-control input-md" >
        <!-- Libelé input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="textinput">Libelé</label>  
          <div class="col-md-4">
          <input name="libele" type="text" class="form-control input-md" required ngModel>
          <span class="help-block"> </span>  
          </div>
        </div>
        <!-- Categorie input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">Catégorie</label>  
            <div class="col-md-4">
            <input name="categorie" type="text" class="form-control input-md" required ngModel>
            <span class="help-block"> </span>  
            </div>
        </div>
        <!-- Famille input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">Famille</label>  
            <div class="col-md-4">
            <input name="famille" type="text" class="form-control input-md" required ngModel>
            <span class="help-block"> </span>  
            </div>
        </div>
        <!-- Button -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="button1id"> </label>
          <div class="col-md-8">
            <button id="button1id" name="button1id" class="btn btn-success" type="submit" [disabled]="f.invalid"><span class="glyphicon glyphicon-ok-circle"></span></button>
          </div>
        </div>
        </fieldset>
        </form>
    </div>
  </ng-template>