<app-header></app-header>

<div class="container" style="margin-top:50px ;margin-bottom: 20px;">
    <div style="text-align: center; margin-top:60px ;">
        Bienvenue dans <b>Sentence</b>   &nbsp;&nbsp;&nbsp;  {{user.nom}} {{user.prenoms}}.
    </div>
</div>


<hr>
<br><br><br>
<div class=row class="col-lg-offset-1">
        <div class="col-md-4 " style="text-align: center;">
                <a routerLink="../personnes" *ngIf="groupe.lectureCondamnation && groupe.ecritureCondamnation"> 
                        <div class="card " >
                                <h3>{{ttPersonnes}} personne(s)</h3>
                        </div>
                </a>
                <div *ngIf="!groupe.lectureCondamnation || !groupe.ecritureCondamnation">
                        <div class="card " >
                                <h3>{{ttPersonnes}} personne(s)</h3>
                        </div>
                </div>
        </div> 
        <div class="col-md-4" style="text-align: center;">
                <a routerLink="../condamnations" *ngIf="groupe.lectureCondamnation && groupe.ecritureCondamnation">
                        <div class="card " >
                                <h3>{{ttCondamnations}} condamnation(s)</h3>
                        </div>
                </a>
                <div *ngIf="!groupe.lectureCondamnation || !groupe.ecritureCondamnation">
                        <div class="card " >
                                <h3>{{ttCondamnations}} condamnation(s)</h3>
                        </div>
                </div>
                
        </div>
        <div class="col-md-4" style="text-align: center;">
                <a routerLink="../peines" *ngIf="groupe.lectureCondamnation && groupe.ecritureCondamnation">
                        <div class="card " >
                                <h3>{{ttPeines}} peine(s)</h3>
                        </div>
                </a>
                <div *ngIf="!groupe.lectureCondamnation || !groupe.ecritureCondamnation">
                        <div class="card " >
                                <h3>{{ttPeines}} peine(s)</h3>
                        </div>
                </div>
                
        </div>
        <!--  <br><br><br><br><br><br><br>  -->
        <div class="col-md-3 col-lg-offset-1" style="text-align: center;">
                <div class="card " >
                        <h3>{{nbreExEnCours}} peines en cours d'exécution</h3>
                </div>
        </div>
        <div class="col-md-3" style="text-align: center;">
                <div class="card " >
                        <h3>0 peines purgées dans 3 jours ou moins</h3>
                </div>
        </div>
        <div class="col-md-3" style="text-align: center;">
                <div class="card " >
                        <h3>{{nbreExEnd}} peines purgées</h3>
                </div>
        </div>        
</div>

