<app-header></app-header>
<div class="container">
    <div class="panel panel-default">
    <div class="panel-heading">Juridictions
      <form class="navbar-form navbar-right" #f="ngForm" (ngSubmit)="onSearch(f.value)">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="suivant dénomination" name="keyword" ngModel required>
        </div>
        <button type="submit" class="btn btn-primary" ><span class="glyphicon glyphicon-search"></span></button>
        <button type="button" class="btn btn-default navbar-right" tooltip="Ajouter un nouvelle juridiction" (click)="openModal(template)">
          <span class="glyphicon glyphicon-plus"></span>
        </button>
      </form>
    </div>
    
    <div class="panel-body">
        <table class="table table-striped custab" *ngIf="juridictions">
        <thead>
            <tr>
                <th>Dénomination</th>
                <th>Type</th>
                <th>Juridiction père</th>
            </tr>
        </thead>
          <tr *ngFor="let j of juridictions._embedded.juridictions">
            <td>{{j.denomination}}</td>
            <td>{{j.type}}</td>
            <td ><div *ngIf="j.juridictionPere != null">{{ j.juridictionPere.denomination}}</div></td>
            <td class="text-center"><a class='btn btn-info btn-xs' (click)="onEdit(j)"><span class="glyphicon glyphicon-edit"></span></a><a (click)="onDelete(j)" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span></a></td>
          </tr>
        </table>
        <ul class="nav nav-pills"  *ngIf="pages">
            <li *ngFor="let p of pages; let i=index"> 
                <button class="btn btn-dark"><a (click)="onPageJuridiction(i)">{{i}}</a></button>
            </li>
        </ul>
      </div>
    </div>
</div>


<div class="container" *ngIf="update == 1">
    <div class="modal-header">
        <h4 class="modal-title pull-left"></h4>
    </div>

    <div class="modal-body">
      <form class="form-horizontal" #f="ngForm" (ngSubmit)="onUpdateJuridiction(f.value)">
        <fieldset>
            <!-- Form Name -->
            <legend>Modifier la juridiction</legend>
            <!--Dénomination-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="textinput">Dénomination</label>  
                <div class="col-md-4">
                <input name="denomination" type="text" class="form-control input-md" required="" ngModel [(ngModel)]="juridiction.denomination">
                <span class="help-block"> </span>
                </div>
            </div>
            <!--Type-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="textinput">Type</label>  
                <div class="col-md-4">
                <input name="type" type="text" class="form-control input-md" required="" ngModel [(ngModel)]="juridiction.type">
                <span class="help-block"> </span>
                </div>
            </div>
            <!--Juridiction père-->
            <div class="form-group" *ngIf="juridiction.juridictionPere != null">
                <label class="col-md-4 control-label" for="textinput">Juridiction père</label>  
                <div class="col-md-4">
                <input name="juridictionPere" type="text" class="form-control input-md" required="" ngModel [(ngModel)]="juridiction.juridictionPere.denomination">
                <span class="help-block"> </span>  
                </div>
            </div>
            <!-- Button -->
            <div  class="form-group">
                <label class="col-md-4 control-label"> </label>
                <button name="button1id" class="btn btn-success" type="submit"><span class="glyphicon glyphicon-ok-circle"></span></button>
            </div>
        </fieldset>
        </form>
    </div>
</div>  


  <ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left"></h4>
        <button type="button" class="close pull-right" 
                aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    
    <div class="modal-body">
      <form class="form-horizontal" #f="ngForm" (ngSubmit)="onSaveJuridiction(f.value)">
        <fieldset>
        <!-- Form Name -->
        <legend>Nouvelle Juridiction</legend>
        <!--Code-->
        <input *ngIf="vue" name="code" type="text" class="form-control input-md" >
        <!--Dénomination-->
        <div class="form-group">
            <label class="col-md-4 control-label">Dénomination</label>  
            <div class="col-md-4">
            <input name="denomination" type="text" class="form-control input-md" required ngModel>
            <span class="help-block"> </span>
            </div>
        </div>
        <!--Type-->
        <div class="form-group">
            <label class="col-md-4 control-label">Type</label>  
            <div class="col-md-4">
            <input name="type" type="text" class="form-control input-md" required ngModel>                     
            <span class="help-block"> </span>
            </div>
        </div>
        <!--Juridiction père-->
        <div class="form-group">
            <label class="col-md-4 control-label">Juridiction père</label>  
            <div class="col-md-4">
            <select name="juridictionPere" [(ngModel)]='juriPereSelected' class="form-control">
                <option *ngFor="let j of juridictions._embedded.juridictions" [ngValue]="j">
                    {{j.denomination}}
                </option>
            </select>                            
            <span class="help-block"> </span>  
            </div>
        </div>
        <!-- Button -->
        <div class="form-group">
          <label class="col-md-4 control-label"> </label>
          <div class="col-md-8">
            <button name="button1id" class="btn btn-success" type="submit" [disabled]="f.invalid"><span class="glyphicon glyphicon-ok-circle"></span></button>
          </div>
        </div>
        </fieldset>
        </form>
    </div>
  </ng-template>