<div class="modal-body" style="text-align: center; margin-top: 75px;">
    <fieldset>
    <!-- Form Name -->
    <legend>Utilisateur connecté</legend><br>
    <!--nom-->
    <div class="form-group">
        <label class="col-md-4 control-label">Nom</label>  
        <div class="col-md-4">
            {{user.nom}}
        <span class="help-block"> </span>  
        </div>
    </div><br>
    <!-- prénoms -->
    <div class="form-group">
        <label class="col-md-4 control-label">Prénoms</label>  
        <div class="col-md-4">
            {{user.prenoms}}
        <span class="help-block"> </span>  
        </div>
    </div><br>
      <!--mail-->
    <div class="form-group">
        <label class="col-md-4 control-label">E-Mail</label>  
        <div class="col-md-4">
            {{user.mail}}
        <span class="help-block"> </span>  
        </div>
    </div><br>
    <div class="form-group">
            <label class="col-md-4 control-label"> </label>
            <div class="col-md-8">
                    <a routerLink="../accueil"><button class="btn btn-default pull-right"><span class="glyphicon glyphicon-arrow-left"></span></button></a>
            </div>
          </div>
    </fieldset>

</div>